<template>
  <q-dialog
    v-model="dialogCita"
    persistent
  >
    <q-card style="width: 700px; max-width: 90vw;">
      <q-toolbar class="q-pa-md">
        <q-icon
          name="alarm_on"
          size="md"
        />
        <q-toolbar-title>
          {{ cita.id ? 'Editar' : 'Agregar' }} cita
        </q-toolbar-title>
        <q-space />
        <q-btn
          flat
          round
          icon="close"
          @click="closeModal"
        />
      </q-toolbar>
      <q-card-section>
        <q-form
          class="row q-col-gutter-sm"
          @submit="guardarCita"
        >
          <q-select
            :disable="!!idDoctor"
            filled
            class="col-xs-12 col-md-6"
            label="Doctor"
            v-model="cita.idDoctor"
            :rules="citaRules.idDoctor"
            :options="doctores"
            emit-value
            map-options
            :option-label="(doctor) => getNombreDoctor(doctor)"
            option-value="id"
            @update:model-value="listarTratamientos"
          >
            <template v-slot:prepend>
              <q-icon name="person" />
            </template>
          </q-select>
          <q-select
            filled
            :disable="!!idPaciente"
            class="col-xs-12 col-md-6"
            label="Paciente"
            v-model="cita.idPaciente"
            :rules="citaRules.idPaciente"
            emit-value
            map-options
            :options="pacientes"
            :option-label="(paciente) => getNombrePaciente(paciente)"
            option-value="id"
            @update:model-value="listarTratamientos"
          >
            <template v-slot:prepend>
              <q-icon name="person" />
            </template>
          </q-select>

          <q-select
            filled
            class="col-xs-12 col-md-6"
            label="Tratamiento"
            v-model="cita.idTratamiento"
            :rules="citaRules.idPaciente"
            emit-value
            map-options
            :options="tratamientos"
            option-label="nombre"
            option-value="id"
          >
            <template v-slot:prepend>
              <q-icon name="vaccines" />
            </template>
          </q-select>

          <q-input
            filled
            v-model="cita.fecha"
            label="Fecha de la cita"
            class="col-xs-12 col-md-6"
            mask="##-##-####"
            fill-mask
            :rules="citaRules.fecha"
          >
            <!-- :rules="valoresRules.fechaNacimiento" -->
            <template v-slot:prepend>
              <q-icon
                name="event"
                class="cursor-pointer"
              >
                <q-popup-proxy
                  ref="fecha"
                  cover
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-date
                    v-model="cita.fecha"
                    mask="DD-MM-YYYY"
                  >
                    <div class="row items-center justify-end">
                      <q-btn
                        v-close-popup
                        label="Close"
                        color="primary"
                        flat
                      />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>

          <q-input
            filled
            v-model="cita.horaInicio"
            label="Hora inicio cita"
            class="col-xs-12 col-md-6"
            mask="##:##"
            fill-mask
            :rules="citaRules.horaInicio"
          >
            <!-- :rules="valoresRules.fechaNacimiento" -->
            <template v-slot:prepend>
              <q-icon
                name="access_time"
                class="cursor-pointer"
              >
                <q-popup-proxy
                  ref="horaInicio"
                  cover
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-time
                    v-model="cita.horaInicio"
                    mask="HH:mm"
                  >
                    <div class="row items-center justify-end">
                      <q-btn
                        v-close-popup
                        label="Close"
                        color="primary"
                        flat
                      />
                    </div>
                  </q-time>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>

          <q-input
            filled
            v-model="cita.horaFin"
            label="Hora fin cita"
            class="col-xs-12 col-md-6"
            mask="##:##"
            fill-mask
            :rules="citaRules.horaFin"
          >
            <!-- :rules="valoresRules.fechaNacimiento" -->
            <template v-slot:prepend>
              <q-icon
                name="access_time"
                class="cursor-pointer"
              >
                <q-popup-proxy
                  ref="horaFin"
                  cover
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-time
                    v-model="cita.horaFin"
                    mask="HH:mm"
                  >
                    <div class="row items-center justify-end">
                      <q-btn
                        v-close-popup
                        label="Close"
                        color="primary"
                        flat
                      />
                    </div>
                  </q-time>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>

          <div class="col-xs-12 q-gutter-xs text-right">
            <q-btn
              label="cancelar"
              icon="close"
              @click="closeModal"
            />
            <q-btn
              type="submit"
              label="Guardar"
              icon="save"
              color="primary"
            />
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>
  <q-card
    class="q-mx-md"
    flat
  >
    <q-card-section>
      <div class="row q-col-gutter-md items-center">
        <div class="col-xs-12 col-sm-6 col-md-2">
          <q-btn
            size="lg"
            class="full-width"
            color="primary"
            icon="add"
            label="Nueva cita"
            @click="nuevaCita"
          ></q-btn>
        </div>
        <q-select
          :disable="!!idDoctor"
          filled
          class="col-xs-12 col-sm-6 col-md-4"
          label="Doctor"
          v-model="filtro.idDoctor"
          :options="doctores"
          emit-value
          map-options
          :option-label="(doctor) => `${doctor.nombres} ${doctor.primerApellido} ${doctor.segundoApellido}`"
          option-value="id"
          clearable
          @update:model-value="filtrarCitas"
        >
          <template v-slot:prepend>
            <q-icon name="person" />
          </template>
        </q-select>
        <q-select
          :disable="!!idPaciente"
          filled
          class="col-xs-12 col-sm-6 col-md-4"
          label="Paciente"
          v-model="filtro.idPaciente"
          emit-value
          map-options
          :options="pacientes"
          :option-label="(paciente) => `${paciente.nombre} ${paciente.apellidos}`"
          option-value="id"
          clearable
          @update:model-value="filtrarCitas"
        >
          <template v-slot:prepend>
            <q-icon name="person" />
          </template>
        </q-select>

        <q-select
          filled
          class="col-xs-12 col-sm-6 col-md-2"
          label="Estado"
          v-model="filtro.estado"
          emit-value
          map-options
          :options="estados"
          clearable
          @update:model-value="filtrarCitas"
        >
          <template v-slot:prepend>
            <q-icon name="timeline" />
          </template>
        </q-select>
      </div>
    </q-card-section>
    <q-card-section>
      <div class="row q-col-gutter-sm">
        <div class="col-xs-12 col-sm-4 col-md-3">
          <q-date
            class="full-width"
            flat
            color="primary"
            v-model="filtro.fecha"
            :events="eventos"
            event-color="warning"
            @update:model-value="filtrarCitas"
          />

        </div>
        <div class="col-xs-12 col-sm-8 col-md-9">
          <div
            class="row q-col-gutter-sm"
            v-if="citas.length > 0"
          >
            <div
              class="col-xs-12 col-md-6"
              v-for="(cita, index) of citas"
              :key="index"
            >
              <q-card>
                <q-toolbar :class="`${cita.estado === 'PENDIENTE' ? 'bg-warning' : cita.estado === 'ATENDIDO' ? 'bg-positive' : 'bg-negative'} text-white`">
                  <q-toolbar-title align="center">
                    {{cita.estado}}
                  </q-toolbar-title>
                </q-toolbar>
                <q-card-section>
                  <span class="text-body1"><span class="text-bold">Doctor: </span> {{ getNombreDoctor(cita.tratamiento?.doctor) }}</span><br>
                  <span class="text-body1"><span class="text-bold">Paciente: </span> {{ getNombrePaciente(cita.tratamiento?.paciente) }}</span><br>
                  <span class="text-body1"><span class="text-bold">Tratamiento: </span>{{ cita.tratamiento?.nombre }}</span>
                </q-card-section>
                <q-card-actions
                  align="center"
                  class="no-padding"
                >
                  <q-chip
                    v-if="!filtro.fecha"
                    color="info"
                    square
                    text-color="white"
                    :label="`Fecha: ${cita.fecha}`"
                  />
                  <q-chip
                    color="positive"
                    square
                    text-color="white"
                    :label="`Inicio: ${cita.horaInicio}`"
                  />
                  <q-chip
                    color="negative"
                    square
                    text-color="white"
                    :label="`Fin: ${cita.horaFin}`"
                  />
                </q-card-actions>
              </q-card>
            </div>
          </div>
          <div v-else>
            <q-banner class="bg-light-warning">
              No existen citas registradas en esta fecha.
            </q-banner>
          </div>
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
import { inject, onMounted, reactive, ref } from 'vue'
import { date } from 'quasar'
import validations from 'src/common/validations'

const citaRules = {
  idDoctor: [validations.requerido],
  idPaciente: [validations.requerido],
  fecha: [validations.requerido],
  horaInicio: [validations.requerido],
  horaFin: [validations.requerido]
}
const estados = [
  { label: 'PENDIENTE', value: 'PENDIENTE' },
  { label: 'ATENDIDO', value: 'ATENDIDO' },
  { label: 'NO ASISTIO', value: 'NO ASISTIO' }
]

export default {
  props: {
    idDoctor: { type: String, default: '' },
    idPaciente: { type: String, default: '' },
    estado: { type: String, default: '' }
  },
  setup (props) {
    const _http = inject('http')
    const fechaActual = ref(null)
    const dialogCita = ref(false)
    const cita = reactive({
      idDoctor: props.idDoctor || null,
      idPaciente: props.idPaciente || null,
      fecha: date.formatDate(new Date(), 'DD-MM-YYYY'),
      horaInicio: null,
      horaFin: null
    })

    const doctores = ref([])
    const pacientes = ref([])
    const tratamientos = ref([])
    const citas = ref([])
    const filtro = reactive({ fecha: null, idPaciente: props.idPaciente || null, idDoctor: props.idDoctor || null, estado: null })
    const eventos = ref([])

    onMounted(async () => {
      doctores.value = await getDoctores()
      pacientes.value = await getPacientes()
      filtro.estado = 'PENDIENTE'
      filtro.fecha = date.formatDate(new Date(), 'YYYY/MM/DD')
      await filtrarCitas()
    })

    function resetForm () {
      cita.idDoctor = props.idDoctor || null
      cita.idPaciente = props.idPaciente || null
      cita.fecha = date.formatDate(new Date(), 'DD-MM-YYYY')
      cita.horaInicio = null
      cita.horaFin = null
    }

    async function getFechas () {
      const respuesta = await _http.get('clinica/cita/listado/fechas')
      return respuesta.map(x => x.fecha)
    }

    async function getDoctores () {
      const { rows } = await _http.get('system/usuarios')
      return rows
    }

    async function getPacientes () {
      const { rows } = await _http.get('clinica/paciente')
      return rows
    }

    async function getTratamientos (idDoctor, idPaciente) {
      const { rows } = await _http.get(`clinica/tratamiento?idDoctor=${idDoctor}&idPaciente=${idPaciente}`)
      return rows
    }

    async function listarTratamientos () {
      if (cita.idDoctor && cita.idPaciente) {
        tratamientos.value = await getTratamientos(cita.idDoctor, cita.idPaciente)
      }
    }

    function closeModal () {
      dialogCita.value = false
      resetForm()
    }

    function nuevaCita () {
      dialogCita.value = true
    }

    async function guardarCita () {
      try {
        if (cita.id) {
          await _http.put(`clinica/cita/${cita.id}`, cita)
        } else {
          await _http.post('clinica/cita', cita)
        }
        closeModal()
        await filtrarCitas()
      } catch (error) {

      }
    }

    async function filtrarCitas () {
      let url = 'clinica/cita'
      const filtros = []

      if (filtro.estado) filtros.push(`estado=${filtro.estado}`)

      if (filtro.fecha) filtros.push(`fecha=${filtro.fecha}`)

      if (filtro.idDoctor) filtros.push(`idDoctor=${filtro.idDoctor}`)

      if (filtro.idPaciente) filtros.push(`idPaciente=${filtro.idPaciente}`)

      url += `?${filtros.join('&')}`

      const { rows } = await _http.get(url)
      eventos.value = await getFechas()
      citas.value = rows
    }

    function getNombreDoctor (doctor) {
      return `${doctor.nombres} ${doctor.primerApellido} ${doctor.segundoApellido}`
    }

    function getNombrePaciente (doctor) {
      return `${doctor.nombre} ${doctor.apellidos}`
    }

    return {
      eventos,
      estados,
      getNombrePaciente,
      getNombreDoctor,
      filtro,
      doctores,
      pacientes,
      citaRules,
      cita,
      dialogCita,
      tratamientos,
      splitterModel: ref(30),
      fechaActual,
      events: ['2022/03/28', '2022/03/31', '2022/03/29'],
      citas,
      listarTratamientos,
      filtrarCitas,
      guardarCita,
      closeModal,
      nuevaCita
    }
  }
}
</script>
