<template>
  <q-dialog
    v-model="dialogCita"
    persistent
  >
    <q-card style="width: 700px; max-width: 90vw;">
      <q-toolbar class="q-pa-md">
        <q-icon
          name="medical_information"
          size="md"
        />
        <q-toolbar-title>
          {{ cita.id ? 'Editar' : 'Agregar' }} tratamiento
        </q-toolbar-title>
        <q-space />
        <q-btn
          flat
          round
          icon="close"
          @click="closeModal"
        />
      </q-toolbar>
      <q-card-section>
      </q-card-section>
      <q-card-section>
        <div class="row">
          <div class="col-xs-12 col-md-4">

            <q-img
              width="200px"
              src="https://www.lifeder.com/wp-content/uploads/2020/01/512px-Human_dental_arches.svg.png"
            />
          </div>
          <div class="col-xs-12 col-md-8">
            <q-form
              class="row q-col-gutter-sm"
              @submit="guardarCita"
            >
              <q-select
                :disable="!!idDoctor"
                filled
                class="col-xs-12 col-md-6"
                label="Doctor"
                v-model="cita.idDoctor"
                :rules="citaRules.idDoctor"
                :options="doctores"
                emit-value
                map-options
                :option-label="(doctor) => getNombreDoctor(doctor)"
                option-value="id"
                @update:model-value="listarTratamientos"
              >
                <template v-slot:prepend>
                  <q-icon name="person" />
                </template>
              </q-select>
              <q-select
                filled
                :disable="!!idPaciente"
                class="col-xs-12 col-md-6"
                label="Paciente"
                v-model="cita.idPaciente"
                :rules="citaRules.idPaciente"
                emit-value
                map-options
                :options="pacientes"
                :option-label="(paciente) => getNombrePaciente(paciente)"
                option-value="id"
                @update:model-value="listarTratamientos"
              >
                <template v-slot:prepend>
                  <q-icon name="person" />
                </template>
              </q-select>

              <q-input
                class="col-xs-12"
                filled
                label="Nombre"
              />
              <q-input
                class="col-xs-12"
                filled
                label="Descripcion"
                type="textarea"
              />

              <q-input
                label="Adicionar sintoma"
                filled
                v-model="sintoma"
                class="col-xs-12"
              >
                <template v-slot:after>
                  <q-btn
                    round
                    color="positive"
                    icon="add"
                    @click="adicionarSintoma"
                  />
                </template>
              </q-input>
              <div class="col-xs-12">
                <div class="row q-col-gutter-md">
                  <div
                    class="col-xs-12 col-md-6"
                    v-for="(sintoma, index) of sintomas"
                    :key="index"
                  >
                    <q-card>
                      <q-card-section>
                        <div class="row">
                          <div class="col-xs-10">
                            {{ sintoma }}
                          </div>
                          <div class="col-xs-1">
                            <q-btn
                              icon="delete"
                              color="negative"
                              round
                              size="sm"
                              @click="eliminarSintoma(index)"
                            />

                          </div>
                        </div>
                      </q-card-section>
                    </q-card>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 q-gutter-xs text-right">
                <q-btn
                  label="cancelar"
                  icon="close"
                  @click="closeModal"
                />
                <q-btn
                  type="submit"
                  label="Guardar"
                  icon="save"
                  color="primary"
                />
              </div>
            </q-form>

          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
  <q-card
    class="q-mx-md"
    flat
  >
    <q-card-section>
      <div class="row q-col-gutter-md items-center">
        <div class="col-xs-12 text-center">
          <q-btn
            color="primary"
            icon="add"
            label="Nuevo tratamiento"
            @click="nuevaCita"
          ></q-btn>
        </div>
      </div>
    </q-card-section>
    <q-card-section>
      <q-list
        bordered
        class="rounded-borders"
      >
        <q-expansion-item
          expand-separator
          icon="perm_identity"
          label="Account settings"
          caption="John Doe"
        >
          <q-card>
            <q-card-section>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, eius reprehenderit eos corrupti
              commodi magni quaerat ex numquam, dolorum officiis modi facere maiores architecto suscipit iste
              eveniet doloribus ullam aliquid.
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </q-list>
    </q-card-section>
  </q-card>
</template>

<script>
import { inject, onMounted, reactive, ref } from 'vue'
import { date } from 'quasar'
import validations from 'src/common/validations'

const citaRules = {
  idDoctor: [validations.requerido],
  idPaciente: [validations.requerido],
  fecha: [validations.requerido],
  horaInicio: [validations.requerido],
  horaFin: [validations.requerido]
}
const estados = [
  { label: 'PENDIENTE', value: 'PENDIENTE' },
  { label: 'ATENDIDO', value: 'ATENDIDO' },
  { label: 'NO ASISTIO', value: 'NO ASISTIO' }
]

export default {
  props: {
    idDoctor: { type: String, default: '' },
    idPaciente: { type: String, default: '' },
    estado: { type: String, default: '' }
  },
  setup (props) {
    const _http = inject('http')
    const fechaActual = ref(null)
    const dialogCita = ref(false)
    const cita = reactive({
      idDoctor: props.idDoctor || null,
      idPaciente: props.idPaciente || null,
      fecha: date.formatDate(new Date(), 'DD-MM-YYYY'),
      horaInicio: null,
      horaFin: null
    })

    const doctores = ref([])
    const pacientes = ref([])
    const tratamientos = ref([])
    const citas = ref([])
    const filtro = reactive({ fecha: null, idPaciente: props.idPaciente || null, idDoctor: props.idDoctor || null, estado: null })
    const eventos = ref([])
    const sintomas = ref([])
    const sintoma = ref('')

    onMounted(async () => {
      doctores.value = await getDoctores()
      pacientes.value = await getPacientes()
      filtro.estado = 'PENDIENTE'
      filtro.fecha = date.formatDate(new Date(), 'YYYY/MM/DD')
      await filtrarCitas()
    })

    function resetForm () {
      cita.idDoctor = props.idDoctor || null
      cita.idPaciente = props.idPaciente || null
      cita.fecha = date.formatDate(new Date(), 'DD-MM-YYYY')
      cita.horaInicio = null
      cita.horaFin = null
    }

    async function getFechas () {
      const respuesta = await _http.get('clinica/cita/listado/fechas')
      return respuesta.map(x => x.fecha)
    }

    async function getDoctores () {
      const { rows } = await _http.get('system/usuarios')
      return rows
    }

    async function getPacientes () {
      const { rows } = await _http.get('clinica/paciente')
      return rows
    }

    async function getTratamientos (idDoctor, idPaciente) {
      const { rows } = await _http.get(`clinica/tratamiento?idDoctor=${idDoctor}&idPaciente=${idPaciente}`)
      return rows
    }

    async function listarTratamientos () {
      if (cita.idDoctor && cita.idPaciente) {
        tratamientos.value = await getTratamientos(cita.idDoctor, cita.idPaciente)
      }
    }

    function closeModal () {
      dialogCita.value = false
      resetForm()
    }

    function nuevaCita () {
      dialogCita.value = true
    }

    async function guardarCita () {
      try {
        if (cita.id) {
          await _http.put(`clinica/cita/${cita.id}`, cita)
        } else {
          await _http.post('clinica/cita', cita)
        }
        closeModal()
        await filtrarCitas()
      } catch (error) {

      }
    }

    async function filtrarCitas () {
      let url = 'clinica/cita'
      const filtros = []

      if (filtro.estado) filtros.push(`estado=${filtro.estado}`)

      if (filtro.fecha) filtros.push(`fecha=${filtro.fecha}`)

      if (filtro.idDoctor) filtros.push(`idDoctor=${filtro.idDoctor}`)

      if (filtro.idPaciente) filtros.push(`idPaciente=${filtro.idPaciente}`)

      url += `?${filtros.join('&')}`

      const { rows } = await _http.get(url)
      eventos.value = await getFechas()
      citas.value = rows
    }

    function getNombreDoctor (doctor) {
      return `${doctor.nombres} ${doctor.primerApellido} ${doctor.segundoApellido}`
    }

    function getNombrePaciente (doctor) {
      return `${doctor.nombre} ${doctor.apellidos}`
    }

    function adicionarSintoma () {
      sintomas.value.push(sintoma.value)
      sintoma.value = ''
    }

    function eliminarSintoma (index) {
      sintomas.value.splice(index, 1)
    }

    return {
      eliminarSintoma,
      sintoma,
      sintomas,
      adicionarSintoma,
      eventos,
      estados,
      getNombrePaciente,
      getNombreDoctor,
      filtro,
      doctores,
      pacientes,
      citaRules,
      cita,
      dialogCita,
      tratamientos,
      splitterModel: ref(30),
      fechaActual,
      events: ['2022/03/28', '2022/03/31', '2022/03/29'],
      citas,
      listarTratamientos,
      filtrarCitas,
      guardarCita,
      closeModal,
      nuevaCita
    }
  }
}
</script>
