<template>
  <tr>
    <td class="text-center">
      <q-select
        filled
        dense
        label="Proveedor"
        :options="proveedores"
        map-options
        emit-value
        option-value="id"
        option-label="nombre"
        v-model="valoresModel.idProveedor"
        @update:model-value="getInsumos"
      />
    </td>
    <td class="text-center">
      <q-select
        filled
        dense
        label="Insumo"
        :options="insumos"
        map-options
        emit-value
        option-value="id"
        option-label="nombre"
        v-model="valoresModel.idInsumo"
      />
    </td>
    <td class="text-center">
      <q-input
        filled
        dense
        label="Cantidad"
        v-model="valoresModel.cantidad"
      />
    </td>
    <td class="text-center">

      <q-input
        style="width:150px !important;"
        :disable="!insumoPerrecedero"
        filled
        v-model="valoresModel.fechaVencimiento"
        label="Fecha de vencimiento"
        class="col-xs-12 col-md-6"
        mask="##-##-####"
        fill-mask
      >
        <!-- :rules="citaRules.fecha" -->
        <template v-slot:append>
          <q-icon
            name="event"
            class="cursor-pointer"
          >
            <q-popup-proxy
              ref="fecha"
              cover
              transition-show="scale"
              transition-hide="scale"
            >
              <q-date
                v-model="valoresModel.fechaVencimiento"
                mask="DD-MM-YYYY"
              >
                <div class="row items-center justify-end">
                  <q-btn
                    v-close-popup
                    label="Close"
                    color="primary"
                    flat
                  />
                </div>
              </q-date>
            </q-popup-proxy>
          </q-icon>
        </template>
      </q-input>
    </td>
    <td class="text-center">
      <q-input
        filled
        dense
        label="P. unitario"
        v-model="valoresModel.precioUnitario"
      />
    </td>
    <td class="text-center">
      <q-input
        filled
        dense
        label="P. total"
        v-model="valoresModel.precioTotal"
      />
    </td>
    <td class="text-center">
      <q-btn
        size="sm"
        color="negative"
        round
        icon="delete"
        @click="$emit('eliminarIngreso')"
      />
    </td>
  </tr>
</template>
<script>

import { useVModel } from '../../composables/useVModel.js'
import { ref, onMounted, inject, computed } from 'vue'
import validaciones from '../../common/validations'

const valoresRules = {
  nombre: [
    validaciones.requerido
  ],
  descripcion: [
    validaciones.requerido
  ],
  idEntidad: [validaciones.requerido],
  idTipoDocumento: [validaciones.requerido]
}

export default {
  props: {
    valores: { type: Object, default: () => ({}) },
    proveedores: { type: Array, default: () => ([]) }
  },
  setup (props) {
    const _http = inject('http')
    const valoresModel = useVModel(props, 'valores')
    const insumos = ref([])

    onMounted(async () => {
      if (props.valores.idProveedor) {
        await getInsumos(props.valores.idProveedor)
      }
    })

    const insumoPerrecedero = computed(() => {
      if (valoresModel.value.idInsumo) {
        return insumos.value.find(x => x.id === valoresModel.value.idInsumo)?.perecedero
      }
      return false
    })

    async function getInsumos (idProveedor) {
      const { rows } = await _http.get(`clinica/insumo?estado=ACTIVO&idProveedor=${idProveedor}`)
      insumos.value = rows
      return rows
    }

    return {
      insumoPerrecedero,
      getInsumos,
      valoresModel,
      valoresRules,
      insumos
    }
  }
}
</script>
