<template>
  <q-form
    ref="parametro"
    class="row q-col-gutter-md"
    @submit="$emit('guardar')"
  >
    <q-input
      filled
      class="col-xs-12 col-md-4"
      label="Codigo"
      v-model="valoresModel.codigo"
      :rules="valoresRules.codigo"
    />

    <q-input
      filled
      class="col-xs-12 col-md-4"
      label="Numero comprobante / factura"
      v-model="valoresModel.numeroFactura"
      :rules="valoresRules.numeroFactura"
    />
    <q-input
      filled
      v-model="valoresModel.fechaCompra"
      label="Fecha de la compra"
      class="col-xs-12 col-md-4"
      mask="##-##-####"
      fill-mask
      :rules="valoresRules.fechaCompra"
    >
      <template v-slot:prepend>
        <q-icon
          name="event"
          class="cursor-pointer"
        >
          <q-popup-proxy
            ref="fecha"
            cover
            transition-show="scale"
            transition-hide="scale"
          >
            <q-date
              v-model="valoresModel.fechaCompra"
              mask="DD-MM-YYYY"
            >
              <div class="row items-center justify-end">
                <q-btn
                  v-close-popup
                  label="Aceptar"
                  color="primary"
                  flat
                />
              </div>
            </q-date>
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input>
    <div class="col-xs-12 text-center">
      <q-btn
        color="positive"
        icon="add"
        label="Adicionar detalle"
        @click="agregarIngreso"
      />

    </div>
    <div class="col-xs-12">
      <q-markup-table
        flat
        dense
      >
        <thead>
          <tr>
            <th
              class="text-center"
              style="min-width:150px;"
            ><span class="text-bold">Proveedor</span></th>
            <th
              class="text-center"
              style="min-width:150px;"
            ><span class="text-bold">Insumo</span></th>
            <th
              class="text-center"
              style="width:120px;"
            ><span class="text-bold">Cantidad</span></th>
            <th
              class="text-center"
              style="width:150px;"
            ><span class="text-bold">Fecha de vencimiento</span></th>
            <th
              class="text-center"
              style="width:120px;"
            ><span class="text-bold">P. unitario</span></th>
            <th
              class="text-center"
              style="width:120px;"
            ><span class="text-bold">P. Total</span></th>
            <th
              class="text-center"
              style="width:20px;"
            ><span class="text-bold">Acciones</span></th>
          </tr>
        </thead>
        <tbody>
          <DetalleIngreso
            v-for="(ingreso, index) of valoresModel.detalles"
            :key="index"
            v-model:valores="valoresModel.detalles[index]"
            :proveedores="proveedores"
            @eliminarIngreso="eliminarIngreso(index)"
          />
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><span class="text-primary text-body1 text-bold">Costo total:</span></td>
            <td><span class="text-black text-body1 ">{{ costoTotal() }} Bs</span> </td>
            <td></td>
          </tr>
        </tbody>
      </q-markup-table>
    </div>
    <div class="col-xs-12 text-right">
      <q-btn
        class="q-ml-sm"
        icon="close"
        label="Cancelar"
        @click="$emit('cancelar')"
      />
      <q-btn
        class="q-ml-sm"
        icon="check"
        color="primary"
        label="Guardar"
        type="submit"
      />
    </div>
  </q-form>
</template>
<script>

import { useVModel } from '../../composables/useVModel.js'
import { ref, onMounted, inject } from 'vue'
import validaciones from '../../common/validations'
import DetalleIngreso from './DetalleIngreso'

const valoresRules = {
  nombre: [validaciones.requerido],
  descripcion: [validaciones.requerido],
  idEntidad: [validaciones.requerido],
  idTipoDocumento: [validaciones.requerido]
}

export default {
  components: { DetalleIngreso },
  props: {
    valores: {
      type: Object,
      default: () => ({})
    }
  },
  setup (props) {
    const _http = inject('http')
    const valoresModel = useVModel(props, 'valores')
    const ingresos = ref([])
    const proveedores = ref([])

    onMounted(async () => {
      proveedores.value = await getProveedores()
    })

    async function getProveedores () {
      const { rows } = await _http.get('clinica/proveedor?estado=ACTIVO')
      return rows
    }

    function costoTotal () {
      let suma = 0
      for (const detalle of valoresModel.value.detalles) {
        suma += parseFloat(detalle.precioTotal)
      }
      valoresModel.value.costoTotal = suma
      return suma
    }

    function agregarIngreso () {
      valoresModel.value.detalles.push({
        idProveedor: null,
        idInsumo: null,
        cantidad: 1,
        fechaVencimiento: null,
        precioUnitario: 0,
        precioTotal: 0
      })
    }

    function eliminarIngreso (index) {
      valoresModel.value.detalles.splice(index, 1)
    }

    return {
      costoTotal,
      getProveedores,
      agregarIngreso,
      eliminarIngreso,
      ingresos,
      valoresModel,
      valoresRules,
      proveedores
    }
  }
}
</script>
