<template>
  <q-form
    ref="parametro"
    class="row q-col-gutter-sm"
    @submit="$emit('guardar')"
  >
    <q-input
      filled
      class="col-xs-12"
      label="Nombre"
      v-model="valoresModel.nombre"
      :rules="valoresRules.nombre"
    />
    <q-input
      filled
      class="col-xs-12 col-md-6"
      label="Codigo"
      v-model="valoresModel.codigo"
      :rules="valoresRules.codigo"
    />

    <q-input
      filled
      class="col-xs-12 col-md-6"
      label="Marca"
      v-model="valoresModel.marca"
      :rules="valoresRules.marca"
    />

    <q-input
      filled
      class="col-xs-12"
      label="Descripcion"
      v-model="valoresModel.descripcion"
      :rules="valoresRules.descripcion"
    />

    <q-select
      filled
      v-model="valoresModel.idProveedor"
      :options="proveedores"
      option-value="id"
      option-label="nombre"
      label="Proveedor"
      map-options
      emit-value
      class="col-xs-12"
      :rules="valoresRules.idProveedor"
    />

    <q-select
      filled
      v-model="valoresModel.idUnidad"
      :options="unidades"
      option-value="id"
      option-label="nombre"
      label="Unidades"
      map-options
      emit-value
      class="col-xs-12 col-md-6"
      :rules="valoresRules.idUnidad"
    />

    <q-toggle
      class="col-xs-12 col-md-6"
      :label="`Perecedero: ${valoresModel.perecedero ? 'SI' : 'NO'}`"
      v-model="valoresModel.perecedero"
      checked-icon="check"
      unchecked-icon="close"
    />

    <div class="col-xs-12 text-right">
      <q-btn
        class="q-ml-sm"
        icon="close"
        label="Cancelar"
        @click="$emit('cancelar')"
      />
      <q-btn
        class="q-ml-sm"
        icon="check"
        color="primary"
        label="Guardar"
        type="submit"
      />
    </div>
  </q-form>
</template>
<script>

import { useVModel } from '../../composables/useVModel.js'
import { ref, onMounted, inject } from 'vue'
import validaciones from '../../common/validations'

const valoresRules = {
  nombre: [
    validaciones.requerido
  ],
  descripcion: [
    validaciones.requerido
  ],
  idEntidad: [validaciones.requerido],
  idTipoDocumento: [validaciones.requerido]
}

export default {
  props: {
    valores: {
      type: Object,
      default: () => ({})
    }
  },
  setup (props) {
    const _http = inject('http')
    const valoresModel = useVModel(props, 'valores')
    const unidades = ref([])
    const proveedores = ref([])

    onMounted(async () => {
      unidades.value = await getTiposDoucmento()
      proveedores.value = await getProveedores()
    })

    async function getProveedores () {
      const { rows } = await _http.get('clinica/proveedor?estado=ACTIVO')
      return rows
    }

    async function getTiposDoucmento () {
      const { rows } = await _http.get('system/parametros?grupo=UNIDAD')
      return rows
    }

    return {
      proveedores,
      valoresModel,
      valoresRules,
      unidades
    }
  }
}
</script>
