<template>
  <q-form
    ref="parametro"
    class="row q-col-gutter-sm"
    @submit="$emit('guardar')"
  >
    <div class="col-xs-12">
      <span class="text-primary text-bold">Datos del paciente</span>
    </div>
    <q-input
      filled
      class="col-xs-12 col-md-6"
      label="Nombre"
      v-model="valoresModel.nombre"
      :rules="valoresRules.nombre"
    />

    <q-input
      filled
      class="col-xs-12 col-md-6"
      label="Apellidos"
      v-model="valoresModel.apellidos"
      :rules="valoresRules.apellidos"
    />

    <q-input
      filled
      v-model="valoresModel.fechaNacimiento"
      label="Fecha de nacimiento"
      class="col-xs-12 col-md-6"
      mask="##-##-####"
      fill-mask
      :rules="valoresRules.fechaNacimiento"
    >
      <template v-slot:append>
        <q-icon
          name="event"
          class="cursor-pointer"
        >
          <q-popup-proxy
            ref="qDateProxy"
            cover
            transition-show="scale"
            transition-hide="scale"
          >
            <q-date
              default-view="Years"
              v-model="valoresModel.fechaNacimiento"
              mask="DD-MM-YYYY"
            >
              <div class="row items-center justify-end">
                <q-btn
                  v-close-popup
                  label="Close"
                  color="primary"
                  flat
                />
              </div>
            </q-date>
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input>

    <q-select
      filled
      :options="['MASCULINO', 'FEMENINO']"
      class="col-xs-12 col-md-6"
      label="Genero"
      v-model="valoresModel.genero"
      :rules="valoresRules.genero"
    />

    <q-input
      filled
      class="col-xs-12 col-md-6"
      label="Profesion/Ocupación"
      v-model="valoresModel.profesion"
      :rules="valoresRules.profesion"
    />
    <q-input
      filled
      class="col-xs-12 col-md-6"
      label="Telefono/Celular"
      v-model="valoresModel.telefono"
      :rules="valoresRules.telefono"
    />
    <q-input
      filled
      class="col-xs-12"
      label="Direccion"
      v-model="valoresModel.direccion"
      :rules="valoresRules.direccion"
    />
    <div class="col-xs-12">
      <span class="text-primary text-bold">Datos del pariente cercano</span>
    </div>
    <q-input
      filled
      class="col-xs-12 col-md-6"
      label="Nombre pariente cercano"
      v-model="valoresModel.nombrePariente"
      :rules="valoresRules.nombrePariente"
    />

    <q-input
      filled
      class="col-xs-12 col-md-6"
      label="Apellidos pariente cercano"
      v-model="valoresModel.apellidosPariente"
      :rules="valoresRules.apellidosPariente"
    />

    <q-input
      filled
      class="col-xs-12 col-md-6"
      label="Profesion pariente cercano"
      v-model="valoresModel.profesionPariente"
      :rules="valoresRules.profesionPariente"
    />

    <q-input
      filled
      class="col-xs-12 col-md-6"
      label="Telefono/Celular pariente cercano"
      v-model="valoresModel.telefonoPariente"
      :rules="valoresRules.telefonoPariente"
    />
    <q-input
      filled
      class="col-xs-12"
      label="Direccion pariente cercano"
      v-model="valoresModel.direccionPariente"
      :rules="valoresRules.direccionPariente"
    />

    <div class="col-xs-12">
      <span class="text-primary text-bold">Doctor que atendera el primer tratamiento</span>
    </div>
    <q-select
      filled
      class="col-xs-12"
      label="Doctor"
      v-model="valoresModel.idDoctor"
      :rules="valoresRules.idDoctor"
      :options="doctores"
      emit-value
      map-options
      :option-label="(doctor) => getNombreDoctor(doctor)"
      option-value="id"
    >
      <template v-slot:prepend>
        <q-icon name="person" />
      </template>
    </q-select>

    <div class="col-xs-12 text-right">
      <q-btn
        class="q-ml-sm"
        icon="close"
        label="Cancelar"
        @click="$emit('cancelar')"
      />
      <q-btn
        class="q-ml-sm"
        icon="check"
        color="primary"
        label="Guardar"
        type="submit"
      />
    </div>
  </q-form>
</template>
<script>

import { useVModel } from '../../composables/useVModel.js'
import { ref, onMounted, inject } from 'vue'
import validaciones from '../../common/validations'

const valoresRules = {
  nombre: [validaciones.requerido],
  descripcion: [validaciones.requerido],
  idEntidad: [validaciones.requerido],
  idDoctor: [validaciones.requerido]
}

export default {
  props: {
    valores: {
      type: Object,
      default: () => ({})
    }
  },
  setup (props) {
    const _http = inject('http')
    const valoresModel = useVModel(props, 'valores')
    const entidades = ref([])
    const doctores = ref([])

    onMounted(async () => {
      const { rows } = await _http.get('/system/entidades')
      entidades.value = rows

      doctores.value = await getDoctores()
    })

    async function getDoctores () {
      const { rows } = await _http.get('/system/usuarios')
      return rows
    }

    function getNombreDoctor (doctor) {
      return `${doctor.nombres} ${doctor.primerApellido} ${doctor.segundoApellido}`
    }

    return {
      getNombreDoctor,
      doctores,
      valoresModel,
      valoresRules,
      entidades
    }
  }
}
</script>
