<template>
  <q-form
    ref="parametro"
    class="row q-col-gutter-sm"
    @submit="$emit('guardar')"
  >
    <q-input
      filled
      class="col-xs-12"
      label="Nombre o razon social"
      v-model="valoresModel.nombre"
      :rules="valoresRules.nombre"
    />
    <q-select
      filled
      v-model="valoresModel.idTipoDocumento"
      :options="tiposDocumento"
      option-value="id"
      option-label="nombre"
      label="Tipo documento"
      map-options
      emit-value
      class="col-xs-12"
      :rules="valoresRules.idTipoDocumento"
    />

    <q-input
      filled
      class="col-xs-12 col-md-6"
      label="Numero de documento"
      v-model="valoresModel.numeroDocumento"
      :rules="valoresRules.numeroDocumento"
    />

    <q-input
      filled
      class="col-xs-12 col-md-6"
      label="Telefono/Celular"
      v-model="valoresModel.telefono"
      :rules="valoresRules.telefono"
    />
    <q-input
      filled
      class="col-xs-12"
      label="Nombre agente de venta"
      v-model="valoresModel.nombreAgenteVenta"
      :rules="valoresRules.nombreAgenteVenta"
    />
    <q-input
      filled
      autogrow
      type="textarea"
      class="col-xs-12"
      label="Direccion"
      v-model="valoresModel.direccion"
      :rules="valoresRules.direccion"
    />
    <div class="col-xs-12 text-right">
      <q-btn
        class="q-ml-sm"
        icon="close"
        label="Cancelar"
        @click="$emit('cancelar')"
      />
      <q-btn
        class="q-ml-sm"
        icon="check"
        color="primary"
        label="Guardar"
        type="submit"
      />
    </div>
  </q-form>
</template>
<script>

import { useVModel } from '../../composables/useVModel.js'
import { ref, onMounted, inject } from 'vue'
import validaciones from '../../common/validations'

const valoresRules = {
  nombre: [
    validaciones.requerido
  ],
  descripcion: [
    validaciones.requerido
  ],
  idEntidad: [validaciones.requerido],
  idTipoDocumento: [validaciones.requerido]
}

export default {
  props: {
    valores: {
      type: Object,
      default: () => ({})
    }
  },
  setup (props) {
    const _http = inject('http')
    const valoresModel = useVModel(props, 'valores')
    const tiposDocumento = ref([])

    onMounted(async () => {
      tiposDocumento.value = await getTiposDoucmento()
    })

    async function getTiposDoucmento () {
      const { rows } = await _http.get('system/parametros?grupo=TIPO_DOCUMENTO')
      return rows
    }

    return {
      valoresModel,
      valoresRules,
      tiposDocumento
    }
  }
}
</script>
