<template>
  <q-form
    ref="usuario"
    @submit="$emit('guardar')"
    class="row q-col-gutter-sm"
  >
    <div class="col-xs-12 col-sm-4">
      <UploadImage
        label="Subir foto de perfil"
        v-model:foto="valoresModel.foto"
        v-model:url="urlFoto"
        :rules="valoresModel.id ? [] : valoresRules.foto"
      />
    </div>
    <div class="col-xs-12 col-sm-8">
      <div class="row q-col-gutter-sm">
        <div class="col-xs-12"><span class="text-primary text-body1 text-bold">Datos personales</span></div>
        <q-input
          filled
          class="col-xs-12 col-md-6"
          label="Cedula de identidad"
          v-model="valoresModel.numeroDocumento"
          :rules="valoresRules.numeroDocumento"
        />
        <q-input
          filled
          label="Nombres"
          class="col-xs-12 col-md-6"
          v-model="valoresModel.nombres"
          :rules="valoresRules.numeroDocumento"
        />
        <q-input
          filled
          label="Primer apellido"
          class="col-xs-12 col-md-6"
          v-model="valoresModel.primerApellido"
          :rules="valoresRules.numeroDocumento"
        />
        <q-input
          class="col-xs-12 col-md-6"
          filled
          label="Segundo apellido"
          v-model="valoresModel.segundoApellido"
        />
        <q-input
          filled
          class="col-xs-12 col-md-6"
          label="Telefono"
          v-model="valoresModel.telefono"
        />
        <q-input
          filled
          class="col-xs-12 col-md-6"
          label="Celular"
          v-model="valoresModel.celular"
          :rules="valoresRules.celular"
        />
        <q-input
          filled
          class="col-xs-12 col-md-6"
          label="Correo electronico"
          v-model="valoresModel.correoElectronico"
          :rules="valoresRules.correoElectronico"
        />
        <q-input
          filled
          v-model="valoresModel.fechaNacimiento"
          label="Fecha de nacimiento"
          class="col-xs-12 col-md-6"
          mask="##-##-####"
          fill-mask
          :rules="valoresRules.fechaNacimiento"
        >
          <template v-slot:append>
            <q-icon
              name="event"
              class="cursor-pointer"
            >
              <q-popup-proxy
                ref="qDateProxy"
                cover
                transition-show="scale"
                transition-hide="scale"
              >
                <q-date
                  default-view="Years"
                  v-model="valoresModel.fechaNacimiento"
                  mask="DD-MM-YYYY"
                >
                  <div class="row items-center justify-end">
                    <q-btn
                      v-close-popup
                      label="Close"
                      color="primary"
                      flat
                    />
                  </div>
                </q-date>
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
        <q-input
          filled
          class="col-xs-12"
          label="Direccion"
          v-model="valoresModel.direccion"
          :rules="valoresRules.direccion"
        />
      </div>
    </div>
    <div class="col-xs-12 text-subtitle1 text-secondary text-weight-bold">
      Datos de usuario
    </div>
    <q-select
      ref="entidad"
      filled
      class="col-xs-12"
      v-model="valoresModel.especialidades"
      :options="especialidades"
      label="Especialidades"
      option-value="id"
      option-label="nombre"
      emit-value
      map-options
      multiple
      use-chips
      :rules="valoresRules.id_rol"
      @input="getRoles($event, true)"
    />
    <q-select
      v-model="valoresModel.roles"
      filled
      class="col-xs-12 col-md-6"
      :options="roles"
      label="Rol"
      option-value="id"
      option-label="nombre"
      use-chips
      emit-value
      map-options
      multiple
      :rules="valoresRules.id_rol"
    />

    <q-input
      filled
      label="Nombre Usuario"
      v-model="valoresModel.usuario"
      class="col-xs-12 col-md-6"
      :rules="valoresRules.usuario"
    ></q-input>
    <q-input
      filled
      label="Contraseña"
      class="col-xs-12 col-md-6"
      v-model="valoresModel.contrasena"
      :rules="valoresRules.contrasena"
    ></q-input>
    <q-input
      filled
      class="col-xs-12 col-md-6"
      label="Confirmacion de contraseña"
      v-model="valoresModel.confirmarContrasena"
      :rules="valoresRules.contrasena"
    ></q-input>

    <UploadPdf
      class="col-xs-12"
      v-model:url="urlPdf"
      v-model:pdf="valoresModel.curriculum"
      label="Subir CV en pdf"
      :rules="valoresModel.id ? [] : valoresRules.curriculum"
    />

    <div class="col-xs-12 text-right q-gutter-sm">
      <q-btn
        icon="close"
        label="Cancelar"
        @click="$emit('cancelar')"
      />
      <q-btn
        icon="check"
        color="primary"
        label="Guardar"
        type="submit"
      />
    </div>
  </q-form>
</template>
<script>
import { useVModel } from '../../composables/useVModel.js'
import { ref, onMounted, inject } from 'vue'
import validaciones from '../../common/validations'
import UploadImage from 'components/common/UploadImage'
import UploadPdf from 'components/common/UploadPdf'

const valoresRules = {
  nombre: [validaciones.requerido],
  descripcion: [validaciones.requerido],
  correoElectronico: [validaciones.requerido],
  numeroDocumento: [validaciones.requerido],
  celular: [validaciones.requerido],
  curriculum: [validaciones.requerido],
  foto: [validaciones.requerido]
}
const archivosPublicos = process.env.BACKEND_URL
export default {
  components: { UploadImage, UploadPdf },
  props: {
    valores: {
      type: Object,
      default: () => ({})
    }
  },
  setup (props) {
    const _http = inject('http')
    const valoresModel = useVModel(props, 'valores')
    const entidades = ref([])
    const roles = ref([])
    const especialidades = ref([])
    const urlFoto = ref('')
    const urlPdf = ref('')

    onMounted(async () => {
      entidades.value = await getEntidades()
      roles.value = await getRoles()
      valoresModel.value.roles = props.valores.roles.map((x) => x.id)
      especialidades.value = await getEspecialidades()
      if (valoresModel.value.foto) {
        urlFoto.value = `${archivosPublicos}/${valoresModel.value.foto}`
        valoresModel.value.foto = null
      }
      if (valoresModel.value.curriculum) {
        urlPdf.value = `${archivosPublicos}/${valoresModel.value.curriculum}`
        valoresModel.value.curriculum = null
      }
    })

    async function getEspecialidades () {
      const { rows } = await _http.get('/system/parametros?grupo=ESPECIALIDAD')
      return rows
    }

    async function getEntidades () {
      const { rows } = await _http.get('/system/entidades')
      return rows
    }

    async function getRoles () {
      const { rows } = await _http.get('/system/roles')
      return rows
    }

    function onSelectFile () {
      const input = valoresModel.value.foto
      if (input) {
        const reader = new FileReader()
        reader.onload = e => {
          valoresModel.value.fotoParsed = e.target.result
        }
        reader.readAsDataURL(input)
      }
    }

    return {
      urlPdf,
      urlFoto,
      archivosPublicos,
      especialidades,
      onSelectFile,
      valoresModel,
      valoresRules,
      entidades,
      roles
    }
  }
}
</script>
