<template>
  <div class="row q-col-gutter-sm">
    <div class="col-xs-12 text-center">
      <span class="text-primary text-bold text-h6">Insumos utilizados</span>
    </div>
    <!-- <q-input
      class="col-xs-12 col-sm-6"
      clearable
      filled
      v-model="busqueda.fechaInicio"
      label="Fecha de inicio"
    >
      <template v-slot:append>
        <q-icon
          name="event"
          class="cursor-pointer"
        >
          <q-popup-proxy
            transition-show="scale"
            transition-hide="scale"
          >
            <q-date
              v-model="busqueda.fechaInicio"
              color="primary"
              mask="YYYY-MM-DD"
              @input="(evt) => ocultarPopup(evt, item.field)"
            />
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input>
    <q-input
      class="col-xs-12 col-sm-6"
      clearable
      filled
      v-model="busqueda.fechaInicio"
      label="Fecha de fin"
    >
      <template v-slot:append>
        <q-icon
          name="event"
          class="cursor-pointer"
        >
          <q-popup-proxy
            transition-show="scale"
            transition-hide="scale"
          >
            <q-date
              v-model="busqueda.fechaInicio"
              color="primary"
              mask="YYYY-MM-DD"
              @input="(evt) => ocultarPopup(evt, item.field)"
            />
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input> -->
    <div class="col-xs-12">
      <apexchart
        v-if="visible"
        class="fit"
        type="bar"
        :options="options"
        :series="series"
      ></apexchart>

    </div>
  </div>
</template>
<script>
import { reactive, ref, onMounted, inject } from 'vue'
export default {
  setup () {
    const visible = ref(false)
    const options = ref({
      chart: {
        id: 'vuechart-example'
      },
      xaxis: {
        categories: []
      }
    })

    const series = ref([{
      name: 'Cantidad de usos',
      data: []
    }])

    const busqueda = reactive({
      fechaInicio: '',
      fechaFin: ''
    })

    const http = inject('http')

    onMounted(async () => {
      const { insumos } = await http.get('clinica/reporte/insumos')
      for (const insumo of insumos) {
        options.value.xaxis.categories.push(insumo.nombre)
        series.value[0].data.push(insumo.total)
      }
      visible.value = true
    })

    return {
      visible,
      busqueda,
      series,
      options
    }
  }
}
</script>
