<template>
  <div class="row q-col-gutter-sm">
    <div class="col-xs-12 text-center">
      <span class="text-primary text-bold text-h6">Pacientes registrados</span>
    </div>
    <!-- <q-input
      class="col-xs-12 col-sm-6"
      clearable
      filled
      v-model="busqueda.fechaInicio"
      label="Fecha de inicio"
    >
      <template v-slot:append>
        <q-icon
          name="event"
          class="cursor-pointer"
        >
          <q-popup-proxy
            transition-show="scale"
            transition-hide="scale"
          >
            <q-date
              v-model="busqueda.fechaInicio"
              color="primary"
              mask="YYYY-MM-DD"
              @input="(evt) => ocultarPopup(evt, item.field)"
            />
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input>
    <q-input
      class="col-xs-12 col-sm-6"
      clearable
      filled
      v-model="busqueda.fechaInicio"
      label="Fecha de fin"
    >
      <template v-slot:append>
        <q-icon
          name="event"
          class="cursor-pointer"
        >
          <q-popup-proxy
            transition-show="scale"
            transition-hide="scale"
          >
            <q-date
              v-model="busqueda.fechaInicio"
              color="primary"
              mask="YYYY-MM-DD"
              @input="(evt) => ocultarPopup(evt, item.field)"
            />
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input> -->
    <div class="col-xs-12">
      <apexchart
        v-if="visible"
        class="fit"
        type="line"
        :options="options"
        :series="series"
      ></apexchart>

    </div>
  </div>
</template>
<script>
import { reactive, ref, onMounted, inject } from 'vue'
export default {
  setup () {
    const visible = ref(false)
    const options = ref({
      chart: {
        id: 'vuechart-example'
      },
      xaxis: {
        categories: [
          'ENERO',
          'FEBRERO',
          'MARZO',
          'ABRIL',
          'MAYO',
          'JUNIO',
          'JULIO',
          'AGOSTO',
          'SEPTIEMBRE',
          'OCTUBRE',
          'NOVIEMBRE',
          'DICIEMBRE'
        ]
      }
    })

    const series = ref([{
      name: 'Cantidad',
      data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
    }])

    const busqueda = reactive({
      fechaInicio: '',
      fechaFin: ''
    })

    const http = inject('http')

    onMounted(async () => {
      const { pacientesPorMes } = await http.get('clinica/reporte/pacientes-mes')
      for (const datosMes of pacientesPorMes) {
        if (datosMes.mes === 'ENERO') series.value[0].data[0] = datosMes.total || 0
        if (datosMes.mes === 'FEBRERO') series.value[0].data[1] = datosMes.total || 0
        if (datosMes.mes === 'MARZO') series.value[0].data[2] = datosMes.total || 0
        if (datosMes.mes === 'ABRIL') series.value[0].data[3] = datosMes.total || 0
        if (datosMes.mes === 'MAYO') series.value[0].data[4] = datosMes.total || 0
        if (datosMes.mes === 'JUNIO') series.value[0].data[5] = datosMes.total || 0
        if (datosMes.mes === 'JULIO') series.value[0].data[6] = datosMes.total || 0
        if (datosMes.mes === 'AGOSTO') series.value[0].data[7] = datosMes.total || 0
        if (datosMes.mes === 'SEPTIEMBRE') series.value[0].data[8] = datosMes.total || 0
        if (datosMes.mes === 'OCTUBRE') series.value[0].data[9] = datosMes.total || 0
        if (datosMes.mes === 'NOVIEMBRE') series.value[0].data[10] = datosMes.total || 0
        if (datosMes.mes === 'DICIEMBRE') series.value[0].data[11] = datosMes.total || 0
      }
      visible.value = true
    })

    return {
      visible,
      busqueda,
      series,
      options
    }
  }
}
</script>
