<template>
  <div class="row q-col-gutter-sm">
    <div
      class="col-xs-12 col-sm-6 col-md-3 col-lg-2"
      v-for="(cita, index) of citas"
      :key="index"
    >
      <q-card class="fit">
        <q-card-section>
          <div class="row q-col-gutter-sm">
            <div
              class="col-xs-12"
              v-for="(imagen, i) of cita.imagenes"
              :key="i"
            >
              <img
                style="width:100%;height:300px;"
                v-if="imagen.imagen"
                :src="`${BACKEND_URL}/${imagen.imagen}`"
                alt=""
              >
              <p v-if="imagen.descripcion">{{ imagen.descripcion }}</p>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>
<script>
import { ref, inject, onMounted } from 'vue'
import { useRoute } from 'vue-router'

export default {
  setup () {
    const citas = ref([])
    const http = inject('http')
    const route = useRoute()
    const BACKEND_URL = process.env.BACKEND_URL

    onMounted(async () => {
      const { rows } = await http.get(`clinica/cita?idPaciente=${route.params.id}`)
      citas.value = rows.filter(cita => cita?.imagenes[0]?.imagen && cita?.imagenes[0]?.descripcion)
    })

    return {
      BACKEND_URL,
      citas
    }
  }
}
</script>
