<template>
  <q-dialog
    v-model="dialogNoAsistio"
    persistent
  >
    <q-card style="width: 700px; max-width: 90vw;">
      <q-toolbar class="q-pa-md">
        <q-icon
          name="alarm_on"
          size="md"
        />
        <q-toolbar-title>
          Paciente no asistió
        </q-toolbar-title>
        <q-space />
        <q-btn
          flat
          round
          icon="close"
          @click="closeModalNoAsistio"
        />
      </q-toolbar>
      <q-card-section>
        <q-form
          class="row q-col-gutter-md"
          @submit="guardarNoAsistio"
        >
          <q-input
            class="col-xs-12"
            filled
            label="Motivo del paciente para no asistir"
            type="textarea"
          />

          <div class="col-xs-12 text-right q-gutter-md">
            <q-btn
              icon="close"
              label="cancelar"
              @click="closeModalNoAsistio"
            />
            <q-btn
              icon="save"
              label="guardar"
              color="primary"
              type="submit"
            />
          </div>

        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>

  <q-dialog
    v-model="dialogAsistio"
    persistent
  >
    <q-card style="width: 500px; max-width: 90vw;">
      <q-toolbar class="q-pa-md">
        <q-icon
          name="alarm_on"
          size="md"
        />
        <q-toolbar-title>
          Paciente asistió
        </q-toolbar-title>
        <q-space />
        <q-btn
          flat
          round
          icon="close"
          @click="closeModalAsistio"
        />
      </q-toolbar>
      <q-card-section>
        <div class="row q-col-gutter-md">
          <div class="col-xs-12">
            <ImagenCitas
              v-for="(imagen, index) of imagenes"
              :key="index"
              v-model:valores="imagenes[index]"
            />

          </div>
          <q-input
            v-model="montoCancelado"
            filled
            class="col-xs-12"
            label="Monto cancelado"
          >
            <template v-slot:append>
              Bs.
            </template>
          </q-input>
          <q-select
            filled
            class="col-xs-12"
            label="Insumos utilizados"
            :options="insumos"
            option-label="nombre"
            map-options
            emit-value
            v-model="insumoSeleccionado"
          >
            <template v-slot:after>
              <q-btn
                :disable="!insumoSeleccionado"
                round
                icon="add"
                color="positive"
                @click="adicionarInsumoConsumido"
              />
            </template>
          </q-select>
          <div class="col-xs-12">
            <q-list bordered>
              <q-item
                v-for="(insumoConsumido, index) of insumosConsumidos"
                :key="index"
              >
                <q-item-section avatar>
                  <q-icon
                    color="positive"
                    name="medication_liquid"
                  />
                </q-item-section>

                <q-item-section>{{ insumoConsumido.nombre }} - {{ insumoConsumido.marca }}</q-item-section>
                <q-item-section side>
                  <q-btn
                    icon="delete"
                    round
                    color="negative"
                    @click="eliminarInsumoConsumido(index)"
                  />
                </q-item-section>
              </q-item>
            </q-list>
          </div>

          <div class="col-xs-12 text-right q-gutter-md">
            <q-btn
              icon="close"
              label="cancelar"
              @click="closeModalAsistio"
            />
            <q-btn
              @click="guardarAsistio"
              icon="save"
              label="guardar"
              color="primary"
            />
          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>

  <q-dialog
    v-model="dialogCita"
    persistent
  >
    <q-card style="width: 700px; max-width: 90vw;">
      <q-toolbar class="q-pa-md">
        <q-icon
          name="alarm_on"
          size="md"
        />
        <q-toolbar-title>
          {{ cita.id ? 'Editar' : 'Agregar' }} cita
        </q-toolbar-title>
        <q-space />
        <q-btn
          flat
          round
          icon="close"
          @click="closeModal"
        />
      </q-toolbar>
      <q-card-section>
        <q-form
          class="row q-col-gutter-sm"
          @submit="guardarCita"
        >
          <q-input
            filled
            v-model="cita.fecha"
            label="Fecha de la cita"
            class="col-xs-12 col-md-4"
            mask="##-##-####"
            fill-mask
            :rules="citaRules.fecha"
          >
            <!-- :rules="valoresRules.fechaNacimiento" -->
            <template v-slot:prepend>
              <q-icon
                name="event"
                class="cursor-pointer"
              >
                <q-popup-proxy
                  ref="fecha"
                  cover
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-date
                    v-model="cita.fecha"
                    mask="DD-MM-YYYY"
                  >
                    <div class="row items-center justify-end">
                      <q-btn
                        v-close-popup
                        label="Close"
                        color="primary"
                        flat
                      />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>

          <q-input
            filled
            v-model="cita.horaInicio"
            label="Hora inicio cita"
            class="col-xs-12 col-md-4"
            mask="##:##"
            fill-mask
            :rules="citaRules.horaInicio"
          >
            <!-- :rules="valoresRules.fechaNacimiento" -->
            <template v-slot:prepend>
              <q-icon
                name="access_time"
                class="cursor-pointer"
              >
                <q-popup-proxy
                  ref="horaInicio"
                  cover
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-time
                    v-model="cita.horaInicio"
                    mask="HH:mm"
                  >
                    <div class="row items-center justify-end">
                      <q-btn
                        v-close-popup
                        label="Close"
                        color="primary"
                        flat
                      />
                    </div>
                  </q-time>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>

          <q-input
            filled
            v-model="cita.horaFin"
            label="Hora fin cita"
            class="col-xs-12 col-md-4"
            mask="##:##"
            fill-mask
            :rules="citaRules.horaFin"
          >
            <!-- :rules="valoresRules.fechaNacimiento" -->
            <template v-slot:prepend>
              <q-icon
                name="access_time"
                class="cursor-pointer"
              >
                <q-popup-proxy
                  ref="horaFin"
                  cover
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-time
                    v-model="cita.horaFin"
                    mask="HH:mm"
                  >
                    <div class="row items-center justify-end">
                      <q-btn
                        v-close-popup
                        label="Close"
                        color="primary"
                        flat
                      />
                    </div>
                  </q-time>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>

          <div class="col-xs-12 q-gutter-xs text-right">
            <q-btn
              label="cancelar"
              icon="close"
              @click="closeModal"
            />
            <q-btn
              type="submit"
              label="Guardar"
              icon="save"
              color="primary"
            />
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>
  <q-card flat>
    <q-card-section>
      <div class="row q-col-gutter-md items-center">
        <div class="col-xs-12 col-md-9">
          <span class="text-h6 text-primary text-bold">Lista de citas </span>
        </div>
        <div class="col-xs-12 col-sm-3">
          {{ idTratamiento }}
          <q-btn
            flat
            class="full-width"
            color="positive"
            icon="add"
            label="Agendar nueva cita"
            @click="nuevaCita"
          ></q-btn>
        </div>
      </div>
    </q-card-section>
    <q-card-section>
      <div class="row q-col-gutter-sm">
        <div class="col-xs-12 col-sm-4 col-md-3">
          <q-date
            class="full-width"
            flat
            color="primary"
            v-model="filtro.fecha"
            :events="eventos"
            event-color="warning"
            @update:model-value="filtrarCitas"
          />

        </div>
        <div class="col-xs-12 col-sm-8 col-md-9">
          <div
            class="row q-col-gutter-sm"
            v-if="citas.length > 0"
          >
            <div
              class="col-xs-12 col-md-4"
              v-for="(cita, index) of citas"
              :key="index"
            >
              <q-card class="fit">
                <q-toolbar :class="`${cita.estado === 'PENDIENTE' ? 'bg-warning' : cita.estado === 'ATENDIDO' ? 'bg-positive' : 'bg-negative'} text-white`">
                  <q-toolbar-title align="center">
                    {{cita.estado}}
                  </q-toolbar-title>
                </q-toolbar>
                <q-card-section
                  align="center"
                  class="no-padding"
                >
                  <q-chip
                    v-if="!filtro.fecha"
                    color="info"
                    square
                    text-color="white"
                    :label="`Fecha: ${cita.fecha}`"
                  />
                  <q-chip
                    color="primary"
                    square
                    text-color="white"
                    :label="`Inicio: ${cita.horaInicio}`"
                  />
                  <q-chip
                    color="primary"
                    square
                    text-color="white"
                    :label="`Fin: ${cita.horaFin}`"
                  />
                </q-card-section>
                <q-card-section
                  align="center"
                  v-if="cita.estado === 'PENDIENTE'"
                >
                  <div class="q-gutter-md">
                    <q-btn
                      label="Asistió"
                      color="positive"
                      @click="openModalAsistio(cita)"
                    />
                    <q-btn
                      label="No asistió"
                      color="negative"
                      @click="openModalNoAsistio(cita)"
                    />
                  </div>
                </q-card-section>
              </q-card>
            </div>
          </div>
          <div v-else>
            <q-banner class="bg-light-green-2">
              No existen citas registradas en esta fecha.
            </q-banner>
          </div>
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
import { inject, onMounted, reactive, ref } from 'vue'
import { date } from 'quasar'
import validations from 'src/common/validations'
import ImagenCitas from './ImagenCita'

const citaRules = {
  idDoctor: [validations.requerido],
  idPaciente: [validations.requerido],
  fecha: [validations.requerido],
  horaInicio: [validations.requerido],
  horaFin: [validations.requerido]
}
const estados = [
  { label: 'PENDIENTE', value: 'PENDIENTE' },
  { label: 'ATENDIDO', value: 'ATENDIDO' },
  { label: 'NO ASISTIO', value: 'NO ASISTIO' }
]

export default {
  components: { ImagenCitas },
  props: {
    idDoctor: { type: String, default: '' },
    idPaciente: { type: String, default: '' },
    idTratamiento: { type: String, default: '' },
    estado: { type: String, default: '' }
  },
  setup (props) {
    const _http = inject('http')
    const fechaActual = ref(null)
    const dialogCita = ref(false)
    const cita = reactive({
      idDoctor: props.idDoctor || null,
      idPaciente: props.idPaciente || null,
      idTratamiento: props.idTratamiento || null,
      fecha: date.formatDate(new Date(), 'DD-MM-YYYY'),
      horaInicio: null,
      horaFin: null,
      imagenes: [{ imagen: '', descripcion: '' }]
    })

    const doctores = ref([])
    const pacientes = ref([])
    const tratamientos = ref([])
    const citas = ref([])
    const filtro = reactive({
      fecha: null,
      idPaciente: props.idPaciente || null,
      idDoctor: props.idDoctor || null,
      idTratamiento: props.idTratamiento || null,
      estado: null
    })
    const eventos = ref([])
    const dialogNoAsistio = ref(false)
    const dialogAsistio = ref(false)
    const insumos = ref([])
    const insumosConsumidos = ref([])
    const imagenes = ref([{ imagen: '', descripcion: '' }])
    const insumoSeleccionado = ref('')
    const citaSeleccionada = ref(null)
    const montoCancelado = ref(0)

    onMounted(async () => {
      filtro.fecha = date.formatDate(new Date(), 'YYYY/MM/DD')
      await filtrarCitas()
      insumos.value = await getInsumos()
    })

    function resetForm () {
      cita.idDoctor = props.idDoctor || null
      cita.idPaciente = props.idPaciente || null
      cita.idTratamiento = props.idTratamiento || null
      cita.fecha = date.formatDate(new Date(), 'DD-MM-YYYY')
      cita.horaInicio = null
      cita.horaFin = null
      cita.imagenes = [{ imagen: '', descripcion: '' }]
    }

    async function getInsumos () {
      const { rows } = await _http.get('clinica/insumo')
      return rows
    }

    async function getFechas () {
      const respuesta = await _http.get('clinica/cita/listado/fechas')
      return respuesta.map(x => x.fecha)
    }

    function closeModal () {
      dialogCita.value = false
      resetForm()
    }

    function nuevaCita () {
      dialogCita.value = true
    }

    async function guardarCita () {
      try {
        if (cita.id) {
          await _http.put(`clinica/cita/${cita.id}`, cita)
        } else {
          await _http.post('clinica/cita', cita)
        }
        closeModal()
        await filtrarCitas()
      } catch (error) {

      }
    }

    async function filtrarCitas () {
      let url = 'clinica/cita'
      const filtros = []

      if (filtro.fecha) filtros.push(`fecha=${filtro.fecha}`)

      if (filtro.idDoctor) filtros.push(`idDoctor=${filtro.idDoctor}`)

      if (filtro.idPaciente) filtros.push(`idPaciente=${filtro.idPaciente}`)

      if (filtro.idTratamiento) filtros.push(`idTratamiento=${filtro.idTratamiento}`)

      url += `?${filtros.join('&')}`

      const { rows } = await _http.get(url)
      eventos.value = await getFechas()
      citas.value = rows
    }

    function getNombreDoctor (doctor) {
      return `${doctor.nombres} ${doctor.primerApellido} ${doctor.segundoApellido}`
    }

    function getNombrePaciente (doctor) {
      return `${doctor.nombre} ${doctor.apellidos}`
    }

    function openModalNoAsistio (seleccion) {
      citaSeleccionada.value = seleccion

      dialogNoAsistio.value = true
    }

    function closeModalNoAsistio () {
      dialogNoAsistio.value = false
    }

    function openModalAsistio (seleccion) {
      citaSeleccionada.value = seleccion
      dialogAsistio.value = true
    }

    function closeModalAsistio () {
      montoCancelado.value = 0
      cita.imagenes = [{ imagen: '', descripcion: '' }]
      insumosConsumidos.value = []
      dialogAsistio.value = false
    }

    function adicionarInsumoConsumido (value) {
      insumosConsumidos.value.push(insumoSeleccionado.value)
      insumoSeleccionado.value = null
    }

    function eliminarInsumoConsumido (index) {
      insumosConsumidos.value.splice(index, 1)
    }

    async function guardarAsistio () {
      await _http.put(`clinica/cita/${citaSeleccionada.value.id}/asistio`, { imagenes: imagenes.value, insumosConsumidos: insumosConsumidos.value, montoCancelado: montoCancelado.value })
      closeModalAsistio()
      await filtrarCitas()
    }
    async function guardarNoAsistio () {
      await _http.put(`clinica/cita/${citaSeleccionada.value.id}/no-asistio`, {})
      closeModalNoAsistio()
      await filtrarCitas()
    }

    return {
      montoCancelado,
      imagenes,
      guardarAsistio,
      guardarNoAsistio,
      eliminarInsumoConsumido,
      insumos,
      insumosConsumidos,
      insumoSeleccionado,
      adicionarInsumoConsumido,
      openModalAsistio,
      closeModalAsistio,
      openModalNoAsistio,
      closeModalNoAsistio,
      dialogNoAsistio,
      dialogAsistio,
      eventos,
      estados,
      getNombrePaciente,
      getNombreDoctor,
      filtro,
      doctores,
      pacientes,
      citaRules,
      cita,
      dialogCita,
      tratamientos,
      splitterModel: ref(30),
      fechaActual,
      events: ['2022/03/28', '2022/03/31', '2022/03/29'],
      citas,
      filtrarCitas,
      guardarCita,
      closeModal,
      nuevaCita
    }
  }
}
</script>
