<template>
  <section class="row q-col-gutter-md">
    <div class="col-xs-12">
      <q-card>
        <q-card-section>
          <span class="text-h5 text-info text-bold">Datos del paciente</span>
        </q-card-section>
        <q-card-section>
          <div class="row q-col-gutter-md text-primary">
            <div class="col-xs-12 col-md-6 text-h6">
              <span class="text-bold">Nombre completo: </span> {{ paciente.nombre }} {{ paciente.apellidos }}
            </div>
            <div class="col-xs-12 col-md-6 text-h6">
              <span class="text-bold">Genero: </span> {{ paciente.genero }}
            </div>
            <div class="col-xs-12 col-md-6 text-h6">
              <span class="text-bold">Fecha de nacimiento: </span> {{ paciente.fechaNacimiento }}
            </div>
            <div class="col-xs-12 col-md-6 text-h6">
              <span class="text-bold">Telefono: </span> {{ paciente.telefono }}
            </div>
            <div class="col-xs-12 col-md-6 text-h6">
              <span class="text-bold">Profesión: </span> {{ paciente.profesion }}
            </div>
            <div class="col-xs-12 col-md-6 text-h6">
              <span class="text-bold">Direccion: </span> {{ paciente.direccion }}
            </div>
          </div>
        </q-card-section>
      </q-card>

    </div>

    <div class="col-xs-12">
      <q-card>
        <q-card-section>
          <span class="text-h5 text-info text-bold">Datos del pariente cercano</span>
        </q-card-section>
        <q-card-section>
          <div class="row q-col-gutter-md text-primary">
            <div class="col-xs-12 col-md-6 text-h6">
              <span class="text-bold">Nombre completo: </span> {{ paciente.nombrePariente }} {{ paciente.apellidosPariente}}
            </div>
            <div class="col-xs-12 col-md-6 text-h6">
              <span class="text-bold">Profesión: </span> {{ paciente.profesionPariente }}
            </div>
            <div class="col-xs-12 col-md-6 text-h6">
              <span class="text-bold">Telefono: </span> {{ paciente.telefonoPariente }}
            </div>
            <div class="col-xs-12 col-md-6 text-h6">
              <span class="text-bold">Direccion: </span> {{ paciente.direccionPariente }}
            </div>
          </div>
        </q-card-section>
      </q-card>
    </div>
  </section>
</template>
<script>
export default {
  props: { paciente: { type: Object, default: () => ({}) } },
  setup () {
    return {

    }
  }
}
</script>
