<template>
  <div class="row q-col-gutter-sm">
    <q-file
      class="col-xs-12"
      filled
      label="Imagen"
      v-model="imagen"
      @update:model-value="uploadImage"
    >
      <template v-slot:prepend>
        <q-icon name="image" />
      </template>
    </q-file>
    <div class="col-xs-12 text-center">
      <img
        style="width:50%;"
        v-if="valoresModel.imagen"
        :src="`${BACKEND_URL}/${valoresModel.imagen}`"
      >
    </div>
    <q-input
      filled
      class="col-xs-12"
      label="Descripcion de la imagen"
      v-model="valoresModel.descripcion"
    />
  </div>
</template>
<script>
import { useVModel } from 'src/composables/useVModel'
import { ref, inject } from 'vue'
import axios from 'axios'

export default {
  props: { valores: { type: Object, default: () => ({}) } },
  setup (props) {
    const valoresModel = useVModel(props, 'valores')
    const imagen = ref(null)
    const storage = inject('storage')
    const BACKEND_URL = process.env.BACKEND_URL

    async function uploadImage (archivo) {
      const formdata = new FormData()
      formdata.append('imagen', archivo)

      const init = {
        method: 'POST',
        url: `${process.env.BACKEND_URL}/api/clinica/cita/subir-imagen`,
        headers: {
          'Content-Type': 'multipart/form-data',
          Authorization: `Bearer ${storage.get('token')}`
        },
        data: formdata
      }

      const { data } = await axios(init)
      valoresModel.value.imagen = data.datos
    }

    return {
      BACKEND_URL,
      uploadImage,
      imagen,
      valoresModel
    }
  }
}
</script>
