<template>
  <q-dialog v-model="modalSintoma">
    <q-card style="width: 500px; max-width: 90vw;">
      <q-toolbar class="q-pa-md">
        <q-icon
          name="monitor_heart"
          size="md"
        />
        <q-toolbar-title>
          {{ sintoma.id ? 'Editar' : 'Agregar' }} sintoma
        </q-toolbar-title>
        <q-space />
        <q-btn
          flat
          round
          icon="close"
          @click="closeModal()"
        />
      </q-toolbar>
      <q-card-section>
        <q-form
          class="row q-col-gutter-md"
          @submit="guardar"
        >
          <q-input
            v-model="sintoma.nombre"
            filled
            class="col-xs-12"
            label="Nombre del sintoma"
          />
          <q-input
            v-model="sintoma.descripcion"
            filled
            type="textarea"
            class="col-xs-12"
            label="Descripcion del sintoma"
          />
          <div class="col-xs-12 q-gutter-sm text-right">
            <q-btn
              label="Cancelar"
              icon="close"
              @click="closeModal"
            />
            <q-btn
              type="submit"
              color="primary"
              label="Guardar"
              icon="save"
            />
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>

  <q-card class="fit">
    <q-btn
      flat
      class="full-width"
      label="Adicionar sintoma"
      icon="add"
      color="positive"
      @click="openModal"
    />
    <q-card-section>
      <span class="text-h6 text-primary text-bold">Lista de sintomas: </span>
    </q-card-section>
    <q-card-section>
      <q-list>
        <q-item
          v-for="(sintoma, index) of sintomas"
          :key="index"
        >
          <q-item-section avatar>
            <q-icon
              name="bug_report"
              color="accent"
            />
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-bold">{{ sintoma.nombre }}</q-item-label>
            <q-item-label
              caption
              lines="2"
            >{{ sintoma.descripcion }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-card-section>
  </q-card>
</template>
<script>
import { inject, onMounted, reactive, ref } from 'vue'
export default {
  props: { idTratamiento: { type: String, default: null } },
  setup (props) {
    const modalSintoma = ref(false)
    const sintoma = reactive({
      nombre: null,
      descripcion: null,
      idTratamiento: props.idTratamiento
    })
    const sintomas = ref([])
    const _http = inject('http')

    onMounted(async () => {
      sintomas.value = await getSintomas()
    })

    async function getSintomas () {
      const { rows } = await _http.get(`clinica/sintoma?idTratamiento=${props.idTratamiento}`)
      return rows
    }

    function resetForm () {
      sintoma.nombre = null
      sintoma.descripcion = null
      sintoma.idTratamiento = props.idTratamiento
    }

    function openModal () {
      modalSintoma.value = true
    }

    function closeModal () {
      resetForm()
      modalSintoma.value = false
    }

    async function guardar () {
      if (sintoma.id) await _http.put(`clinica/sintoma/${sintoma.id}`, sintoma)

      if (!sintoma.id) await _http.post('clinica/sintoma', sintoma)

      sintomas.value = await getSintomas()
      closeModal()
    }

    return {
      sintomas,
      sintoma,
      modalSintoma,
      openModal,
      guardar,
      closeModal

    }
  }
}
</script>
