<template>
  <q-dialog v-model="modalTratamiento">
    <q-card style="width: 900px; max-width: 90vw;">
      <q-toolbar class="q-pa-md">
        <q-icon
          name="monitor_heart"
          size="md"
        />
        <q-toolbar-title>
          {{ tratamiento.id ? 'Editar' : 'Agregar' }} tratamiento
        </q-toolbar-title>
        <q-space />
        <q-btn
          flat
          round
          icon="close"
          @click="closeModal()"
        />
      </q-toolbar>
      <q-card-section>
        <q-form
          class="row q-col-gutter-md justify-center"
          @submit="guardar"
        >
          <div class="col-xs-12 col-md-6 text-center">
            <p class="text-bold text-primary text-body1">Seleccione los dientes dañados</p>
            <Odontograma
              :edicion="true"
              style="width:300px;"
              :dientesSeleccionados="tratamiento.dientesSeleccionados"
            />
          </div>
          <div class="col-xs-12 col-md-6 text-center">
            <p class="text-bold text-primary text-body1">Seleccione los dientes que se van a tratar</p>
            <Odontograma
              :edicion="true"
              style="width:300px;"
              :dientesSeleccionados="tratamiento.dientesTratamiento"
            />
          </div>
          <div class="col-xs-12 ">
            <div class="row q-col-gutter-md">
              <div class="col-xs-12 col-md-6">
                <q-item
                  tag="label"
                  v-ripple
                >
                  <q-item-section
                    side
                    top
                  >
                    <q-checkbox v-model="tratamiento.retratamiento" />
                  </q-item-section>

                  <q-item-section>
                    <q-item-label>Es RE-TRATAMIENTO</q-item-label>
                    <q-item-label caption>
                      Indica que este tratamiento ya lo realizaron a este paciente anteriormente.
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </div>
              <q-input
                v-model="tratamiento.presupuestoInicial"
                filled
                class="col-xs-12 col-md-6"
                label="Presupuesto inicial"
              >
                <template v-slot:append>
                  Bs.
                </template>
              </q-input>
              <q-input
                v-model="tratamiento.nombre"
                filled
                class="col-xs-12"
                label="Diagnostico"
              />
              <q-input
                v-model="tratamiento.descripcion"
                filled
                autogrow
                type="textarea"
                class="col-xs-12"
                label="Plan del tratamiento"
              />
              <q-input
                v-model="tratamiento.pronostico"
                filled
                autogrow
                type="textarea"
                class="col-xs-12"
                label="Pronostico del tratamiento"
              />
            </div>
          </div>
          <div class="col-xs-12 q-gutter-sm text-right">
            <q-btn
              label="Cancelar"
              icon="close"
              @click="closeModal"
            />
            <q-btn
              type="submit"
              color="primary"
              label="Guardar"
              icon="save"
            />
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>

  <q-card flat>
    <q-card-section align="center">
      <q-btn
        flat
        label="Nuevo tratamiento"
        color="positive"
        icon="add"
        @click="openModal"
      />
    </q-card-section>
    <q-card-section class="no-padding">
      <q-list bordered>
        <q-expansion-item
          v-for="(tratamiento, index) of tratamientos"
          :key="index"
          icon="vaccines"
          :label="`${tratamiento.nombre} ${tratamiento.retratamiento ? '(RE-TRATAMIENTO)' : '' }` "
          :header-class="`${ tratamiento.retratamiento ? 'bg-amber-1 text-warning' : 'bg-blue-1 text-primary'} text-bold text-h6`"
          :caption="`Doctor: ${nombreCompleto(tratamiento.doctor) }`"
          :default-opened="index === 0"
        >
          <q-card>
            <q-card-section>
              <q-card>
                <q-card-section>
                  <div class="row items-center">
                    <div class="col-xs-12 col-md-4">
                      <span class="text-body2 text-bold text-primary">Fecha de inicio del tratamiento: </span>{{ tratamiento.fechaInicio }}
                    </div>
                    <div class="col-xs-12 col-md-4">
                      <span class="text-body2 text-bold text-primary">Fecha de final del tratamiento: </span>{{ tratamiento.fechaFin }}

                    </div>
                    <div class="col-xs-12 col-md-4 text-right">
                      <q-chip
                        :color="tratamiento.finalizado ? 'positive' : 'warning'"
                        text-color="white"
                        square
                        :label="tratamiento.finalizado ? 'FINALIZADO' : 'PENDIENTE'"
                      />
                      <q-btn
                        label="Finalizar tratamiento"
                        color="positive"
                        flat
                      />
                    </div>
                  </div>
                </q-card-section>
              </q-card>
            </q-card-section>
            <q-card-section>
              <div class="row q-col-gutter-sm">
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <q-card class="fit">
                    <q-card-section>
                      <span class="text-h6 text-primary text-bold">Datos del medico que trata </span>
                    </q-card-section>
                    <q-card-section>
                      <span class="text-primary"><span class="text-bold">Doctor asignado: </span> {{ nombreCompleto(tratamiento.doctor) }}</span><br>
                      <span class="text-primary"><span class="text-bold">Cargo: </span> {{ tratamiento.doctor?.cargo }}</span><br>
                      <span class="text-primary"><span class="text-bold">Celular: </span> {{ tratamiento.doctor?.celular }}</span><br>
                      <span class="text-primary"><span class="text-bold">Tipo de documento: </span> {{ tratamiento.doctor?.tipoDocume3nto }}</span><br>
                      <span class="text-primary"><span class="text-bold">Numero de documento: </span> {{ tratamiento.doctor?.numeroDocumento }}</span><br>
                    </q-card-section>
                    <q-card-section>
                      <span class="text-h6 text-primary text-bold">Presupuesto del tratamiento &nbsp;&nbsp;&nbsp; <span class="text-positive">{{ tratamiento.presupuestoInicial }} Bs.</span></span>
                    </q-card-section>
                    <q-card-section>
                      <span class="text-h6 text-primary text-bold">Monto cancelado &nbsp;&nbsp;&nbsp; <span class="text-positive">{{ montoCancelado(tratamiento.citas) }} Bs.</span></span>
                    </q-card-section>
                    <q-card-section>
                      <span class="text-h6 text-primary text-bold">Descripcion del tratamiento </span>
                    </q-card-section>
                    <q-card-section align="justify">
                      {{ tratamiento.descripcion }}
                    </q-card-section>
                  </q-card>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <q-card>
                    <q-card-section>
                      <span class="text-h6 text-primary text-bold">Odontograma: </span>
                    </q-card-section>
                    <q-card-section align="center">
                      <div class="row">
                        <div class="col-xs-12 col-md-6">
                          <p class="text-bold text-primary text-body1">Dientes dañados</p>

                          <Odontograma
                            :edicion="false"
                            style="width:250px;"
                            :dientesSeleccionados="tratamiento.dientesSeleccionados"
                          />
                        </div>
                        <div class="col-xs-12 col-md-6">
                          <p class="text-bold text-primary text-body1">Dientes en tratamiento</p>
                          <Odontograma
                            :edicion="false"
                            style="width:250px;"
                            :dientesSeleccionados="tratamiento.dientesTratamiento"
                          />
                        </div>
                      </div>

                    </q-card-section>
                  </q-card>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <Sintomas :idTratamiento="tratamiento.id" />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-12 ">
                  <q-card class="fit">
                    <q-card-section>
                      {{ tratamiento.id }}
                      <Citas
                        v-if="tratamiento.doctor?.id"
                        :idDoctor="tratamiento.doctor.id"
                        :idPaciente="$route.params.id"
                        :idTratamiento="tratamiento.id"
                      />
                    </q-card-section>
                  </q-card>
                </div>
              </div>
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </q-list>
    </q-card-section>
  </q-card>
</template>
<script>
import { inject, onMounted, reactive, ref } from 'vue'
import Citas from './Citas'
import Sintomas from './Sintomas'
import Odontograma from './Odontograma'

export default {
  components: { Citas, Sintomas, Odontograma },
  props: { paciente: { type: Object, default: () => ({}) } },
  setup (props) {
    const tratamientos = ref([])
    const _http = inject('http')
    const modalTratamiento = ref(false)
    const doctores = ref([])
    const tratamiento = reactive({
      nombre: null,
      descripcion: null,
      retratamiento: false,
      idDoctor: props.paciente.idDoctor,
      idPaciente: props.paciente.id,
      dientesSeleccionados: [],
      dientesTratamiento: [],
      presupuestoInicial: 0
    })

    onMounted(async () => {
      tratamientos.value = await getTratamientos()
      doctores.value = await getDoctores()
    })
    async function getDoctores () {
      const { rows } = await _http.get('system/usuarios')
      return rows
    }

    async function getTratamientos () {
      const { rows } = await _http.get(`clinica/tratamiento?idPaciente=${props.paciente.id}&order=-createdAt`)
      return rows
    }

    function resetForm () {
      tratamiento.nombre = null
      tratamiento.descripcion = null
      tratamiento.idDoctor = props.paciente.idDoctor
      tratamiento.idPaciente = props.paciente.id
      tratamiento.dientesSeleccionados = []
      tratamiento.dientesTratamiento = []
      tratamiento.retratamiento = false
      tratamiento.presupuestoInicial = 0
    }

    function openModal () {
      modalTratamiento.value = true
    }

    function closeModal () {
      resetForm()
      modalTratamiento.value = false
    }

    async function guardar () {
      if (tratamiento.id) await _http.put(`clinica/tratamiento/${tratamiento.id}`, tratamiento)

      if (!tratamiento.id) await _http.post('clinica/tratamiento', tratamiento)

      tratamientos.value = await getTratamientos()
      closeModal()
    }

    function nombreCompleto (persona) {
      return `${persona?.nombres} ${persona?.primerApellido} ${persona?.segundoApellido}`
    }

    function getNombreDoctor (doctor) {
      return `${doctor.nombres} ${doctor.primerApellido} ${doctor.segundoApellido}`
    }

    function montoCancelado (citas) {
      let suma = 0
      for (const cita of citas) {
        suma += cita.montoCancelado
      }
      return suma
    }
    return {
      montoCancelado,
      getNombreDoctor,
      doctores,
      tratamiento,
      modalTratamiento,
      openModal,
      closeModal,
      guardar,
      tratamientos,
      nombreCompleto
    }
  }
}
</script>
