<template>
  <q-page>
    <Titulo
      titulo="Dashboard"
      icono="dashboard"
    ></Titulo>
    <div class="row q-col-gutter-md q-mx-md">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <q-card class="bg-info text-white fit">
          <q-card-section align="center">
            <span class="text-h3 text-bold">{{ cantidades.cantidadPacientes }}</span>
          </q-card-section>
          <q-card-section align="center">
            <span class="text-h5">Pacientes registrados</span>
          </q-card-section>
        </q-card>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <q-card class="bg-positive text-white fit">
          <q-card-section align="center">
            <span class="text-h3 text-bold">{{ cantidades.cantidadDoctores }}</span>
          </q-card-section>
          <q-card-section align="center">
            <span class="text-h5">Doctores trabajando</span>
          </q-card-section>
        </q-card>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <q-card class="bg-orange text-white fit">
          <q-card-section align="center">
            <span class="text-h3 text-bold">{{ cantidades.cantidadCitas }}</span>
          </q-card-section>
          <q-card-section align="center">
            <span class="text-h5">Citas agendadas</span>
          </q-card-section>
        </q-card>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <q-card class="bg-teal text-white fit">
          <q-card-section align="center">
            <span class="text-h3 text-bold">{{ cantidades.cantidadTratamientos }}</span>
          </q-card-section>
          <q-card-section align="center">
            <span class="text-h5">Tratamientos realizados</span>
          </q-card-section>
        </q-card>
      </div>
      <div class="col-xs-12">
        <q-card style="min-height: 300px;">
          <q-card-section>
            <p class="text-h5 text-bold text-center">Reportes</p>
          </q-card-section>
          <q-card-section>
            <div class="row q-col-gutter-sm">
              <div class="col-xs-12 col-md-6">
                <Insumos />
              </div>
              <div class="col-xs-12 col-md-6">
                <Pacientes />
              </div>
              <div class="col-xs-12 col-md-6">
                <Ingresos />
              </div>
              <div class="col-xs-12 col-md-6">
                <Tratamientos />
              </div>
            </div>
          </q-card-section>
        </q-card>
      </div>
    </div>

  </q-page>
</template>

<script>
import { inject, onMounted, ref } from 'vue'
import Insumos from 'components/Reporte/Insumos'
import Pacientes from 'components/Reporte/Pacientes'
import Ingresos from 'components/Reporte/Ingresos'
import Tratamientos from 'components/Reporte/Tratamientos'

export default {
  name: 'Dashboard',
  components: { Insumos, Pacientes, Ingresos, Tratamientos },
  setup () {
    const http = inject('http')
    const cantidades = ref({

    })

    onMounted(async () => {
      await getCantidades()
    })

    async function getCantidades () {
      cantidades.value = await http.get('/clinica/reporte/cantidades')
    }

    return {
      getCantidades,
      cantidades
    }
  }
}
</script>
