<template>
  <q-page>
    <Titulo
      titulo="Inventarios"
      icono="inventory"
    ></Titulo>
    <q-tabs
      v-model="tab"
      inline-label
      switch-indicator
      align="left"
      class="text-white q-ml-md"
    >
      <q-tab
        name="proveedores"
        icon="business"
        label="Proveedores"
      />
      <q-tab
        name="insumos"
        icon="handyman"
        label="Insumos"
      />
      <q-tab
        name="ingresos"
        icon="add"
        label="Ingresos"
      />
    </q-tabs>
    <Insumos v-if="tab === 'insumos'" />
    <Ingresos v-if="tab === 'ingresos'" />
    <Proveedores v-if="tab === 'proveedores'" />
  </q-page>
</template>

<script>
import { ref, inject } from 'vue'
import Ingresos from 'components/Inventarios/Ingresos'
import Insumos from 'components/Inventarios/Insumos'
import Proveedores from 'components/Inventarios/Proveedores'

export default {
  components: { Proveedores, Ingresos, Insumos },
  name: 'Dashboard',
  setup () {
    const _http = inject('http')
    const url = ref('system/parametros')
    const tab = ref('proveedores')
    const entidad = ref({
      grupo: null,
      nombre: null,
      descripcion: null,
      codigo: null,
      estado: 'ACTIVO'
    })

    const resetForm = () => {
      entidad.value = {
        grupo: null,
        nombre: null,
        descripcion: null,
        codigo: null,
        estado: 'ACTIVO'
      }
    }

    const openModal = async (open, id) => {
      resetForm()
      if (id) {
        entidad.value = await _http.get(`/${url.value}/${id}`)
      }
      open()
    }

    const closeModal = (close) => {
      resetForm()
      close()
    }

    const guardar = async (update, close) => {
      if (entidad.value.id) {
        await _http.put(`/${url.value}/${entidad.value.id}`, entidad.value)
      } else {
        await _http.post(`/${url.value}`, entidad.value)
      }
      await update()
      closeModal(close)
    }

    return {
      tab,
      entidad,
      url,
      closeModal,
      openModal,
      guardar
    }
  }
}
</script>
