<template>
  <q-page>
    <Titulo
      titulo="Pacientes"
      icono="people"
    ></Titulo>

    <q-dialog
      v-model="dialogCita"
      :maximized="true"
    >
      <q-card>
        <q-toolbar class="q-pa-md bg-primary text-white">
          <q-icon
            name="alarm_on"
            size="md"
          />
          <q-toolbar-title>
            Citas
          </q-toolbar-title>
          <q-space />
          <q-btn
            flat
            round
            icon="close"
            @click="closeModalCitas"
          />
        </q-toolbar>
        <q-card-section>
          <span class="text-bold text-h4 text-primary">
            <q-icon
              name="people"
              size="lg"
            /> Paciente: {{ nombreCompleto(entidad) }}
          </span>
        </q-card-section>
        <q-card-section class="no-padding">
          <Citas :idPaciente="entidad.id" />
        </q-card-section>
        <q-card-actions align="center">
          <q-btn
            @click="closeModalCitas"
            color="primary"
            icon="close"
            label="ACEPTAR"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="dialogTratamiento">
      <q-card style="width: 900px; max-width: 90vw;">
        <q-toolbar class="q-pa-md bg-primary text-white">
          <q-icon
            name="medical_information"
            size="md"
          />
          <q-toolbar-title>
            Tratamientos
          </q-toolbar-title>
          <q-space />
          <q-btn
            flat
            round
            icon="close"
            @click="closeModalTratamientos"
          />
        </q-toolbar>
        <q-card-section>
          <span class="text-bold text-h6 text-primary">
            <q-icon name="people" /> Paciente: {{ nombreCompleto(entidad) }}
          </span>
        </q-card-section>
        <q-card-section class="no-padding">
          <Tratamientos :idPaciente="entidad.id" />
        </q-card-section>
        <q-card-actions align="center">
          <q-btn
            @click="closeModalTratamientos"
            color="primary"
            icon="close"
            label="ACEPTAR"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog
      v-model="dialogReportes"
      persistent
    >
      <q-card style="width: 1200px; max-width: 90vw;">
        <q-toolbar class="q-pa-md bg-primary text-white">
          <q-icon
            name="query_stats"
            size="md"
          />
          <q-toolbar-title>
            Reportes de tratamientos
          </q-toolbar-title>
          <q-space />
          <q-btn
            flat
            round
            icon="close"
            @click="closeModalReporte"
          />
        </q-toolbar>
        <q-card-section>
          <q-input
            @update:model-value="obtenerReporte"
            filled
            v-model="filtroReporte"
            label="Fecha para el reporte"
            class="col-xs-12 col-md-6"
            mask="##-##-####"
            fill-mask
          >
            <!-- :rules="valoresRules.fechaNacimiento" -->
            <template v-slot:prepend>
              <q-icon
                name="event"
                class="cursor-pointer"
              >
                <q-popup-proxy
                  ref="fecha"
                  cover
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-date
                    v-model="filtroReporte"
                    mask="DD-MM-YYYY"
                  >
                    <div class="row items-center justify-end">
                      <q-btn
                        v-close-popup
                        label="Close"
                        color="primary"
                        flat
                      />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </q-card-section>
        <q-card-section>
          <q-markup-table flat>
            <thead>
              <tr>
                <th class="text-left">Nro</th>
                <th class="text-left">Doctor (a)</th>
                <th class="text-left">Paciente</th>
                <th class="text-left">Tratamiento</th>
                <th class="text-left">Ingreso</th>
                <th class="text-left">Total pagado</th>
                <th class="text-left">Saldo</th>
                <th class="text-left">Total tratamiento</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(reporte, index ) of registrosReportes.pacientesPorDia"
                :key="index"
              >
                <td class="text-left">{{ index + 1 }}</td>
                <td class="text-left">{{ reporte.doctor }}</td>
                <td class="text-left">{{ reporte.paciente }}</td>
                <td class="text-left">{{ reporte.tratamiento }}</td>
                <td class="text-left">{{ reporte.ingreso }} Bs.</td>
                <td class="text-left">{{ reporte.totalPagado }} Bs.</td>
                <td class="text-left">{{ reporte.totalTratamiento - reporte.totalPagado }} Bs.</td>
                <td class="text-left">{{ reporte.totalTratamiento }} Bs.</td>
              </tr>
              <tr class="bg-grey-3">
                <td></td>
                <td></td>
                <td></td>
                <td class="text-bold text-primary">Total ingresos</td>
                <td class="text-bold">{{ total }} Bs.</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </q-markup-table>
        </q-card-section>
        <q-card-actions align="center">
          <q-btn
            @click="closeModalReporte"
            color="primary"
            icon="close"
            label="ACEPTAR"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <CrudTable
      :filters="filters"
      :columns="columns"
      :url="url"
      :order="'createdAt'"
    >
      <template v-slot:buttons="{ open }">
        <q-btn
          icon="add"
          color="secondary"
          @click="openModal(open)"
          label="Nuevo paciente"
        />
      </template>
      <template v-slot:buttons-end>
        <q-btn
          icon="query_stats"
          color="positive"
          @click="openModalReporte"
          label="Reporte de pacientes"
        />
      </template>
      <!-- <template v-slot:buttons-end="{ open }">
        <q-btn
          icon="people"
          color="positive"
          @click="openModal(open)"
          label="Pacientes atendidos"
        />
      </template> -->
      <template v-slot:form="{ close, update}">
        <q-card style="width: 700px; max-width: 90vw;">
          <q-toolbar class="q-pa-md">
            <q-icon
              name="people"
              size="md"
            />
            <q-toolbar-title>
              {{ entidad.id ? 'Editar' : 'Agregar' }} paciente
            </q-toolbar-title>
            <q-space />
            <q-btn
              flat
              round
              icon="close"
              @click="closeModal(close)"
            />
          </q-toolbar>
          <q-card-section>
            <Paciente
              v-model:valores="entidad"
              @guardar="guardar(update, close)"
              @cancelar="closeModal(close)"
            />
          </q-card-section>
        </q-card>
      </template>
      <template v-slot:row="{ row, open, eliminar }">
        <q-tr>
          <q-td class="q-gutter-sm">
            <q-btn
              flat
              round
              icon="edit"
              color="primary"
              @click="openModal(open, row.id)"
            >
              <q-tooltip class="bg-primary text-body2">
                Editar paciente.
              </q-tooltip>
            </q-btn>

            <q-btn
              flat
              round
              icon="personal_injury"
              color="positive"
              @click="verPaciente(row)"
            >
              <q-tooltip class="bg-positive text-body2">
                Ver datos del paciente.
              </q-tooltip>
            </q-btn>

            <q-btn
              v-if="row.telefono"
              flat
              round
              color="accent"
              icon="mail"
              @click="enviarMensaje(row)"
            >
              <q-tooltip class="bg-accent text-body2">
                Enviar mensaje al paciente
              </q-tooltip>
            </q-btn>

            <q-btn
              flat
              round
              color="negative"
              icon="delete"
              @click="eliminar({ url: `${url}/${row.id}` })"
            >
              <q-tooltip class="bg-negative text-body2">
                Eliminar paciente.
              </q-tooltip>
            </q-btn>
          </q-td>
          <q-td>{{ nombreCompleto(row) }}</q-td>
          <q-td>{{ row.fechaNacimiento }}</q-td>
          <q-td>{{ row.genero }}</q-td>
          <q-td>{{ row.direccion }}</q-td>
          <q-td>{{ row.profesion }}</q-td>
          <q-td>{{ row.telefono }}</q-td>
          <q-td>{{ row.nombrePariente }} {{ row.apellidosPariente }}</q-td>
          <q-td>{{ row.profesionPariente }}</q-td>
          <q-td>{{ row.direccionPariente }}</q-td>
          <q-td>{{ row.telefonoPariente }}</q-td>
        </q-tr>
      </template>
    </CrudTable>
  </q-page>
</template>

<script>
import { ref, inject, watch } from 'vue'
import CrudTable from '@components/common/CrudTable'
import Paciente from 'components/Formularios/Paciente'
import Citas from 'components/Clinica/Citas'
import Tratamientos from 'components/Clinica/Tratamientos'
import { useRouter } from 'vue-router'
import { useQuasar, date } from 'quasar'

const filters = [
  {
    label: 'Nombre',
    field: 'nombre',
    type: 'input'
  },
  {
    label: 'Grupo',
    field: 'grupo',
    type: 'input'
  },
  {
    label: 'Descripcion',
    field: 'descripcion',
    type: 'input'
  },
  {
    label: 'Estado',
    field: 'estado',
    type: 'select',
    options: [
      {
        label: 'ACTIVO',
        value: 'ACTIVO'
      },
      {
        label: 'INACTIVO',
        value: 'INACTIVO'
      }
    ]
  }
]

const columns = [
  {
    name: 'acciones',
    label: 'Acciones',
    sortable: false
  },
  {
    name: 'nombre',
    label: 'Nombres y apellidos',
    sortable: true
  },
  {
    name: 'fechaNacimiento',
    label: 'Fecha de nacimiento',
    sortable: true
  },
  {
    name: 'genero',
    label: 'Genero',
    sortable: true
  },
  {
    name: 'direccion',
    label: 'Direccion',
    sortable: true
  },
  {
    name: 'profesion',
    label: 'Profesión/Ocupación',
    sortable: true
  },
  {
    name: 'telefono',
    label: 'Telf/Cel',
    sortable: true
  },
  {
    name: '',
    label: 'Nombres y apellidos del pariente cercano',
    sortable: true
  },
  {
    name: 'telefono',
    label: 'Profesion/Ocupacion del paciente cercano',
    sortable: true
  },
  {
    name: 'direccion',
    label: 'Direccion del pariente cercano',
    sortable: true
  },
  {
    name: 'direccion',
    label: 'Direccion del pariente cercano',
    sortable: true
  }
]

export default {
  components: { CrudTable, Paciente, Citas, Tratamientos },
  name: 'Dashboard',
  setup () {
    const Quasar = useQuasar()
    const _http = inject('http')
    const url = ref('clinica/paciente')
    const dialogCita = ref(false)
    const dialogTratamiento = ref(false)
    const _router = useRouter()
    const dialogMensaje = ref('')
    const dialogReportes = ref(false)
    const filtroReporte = ref(date.formatDate(Date.now(), 'DD-MM-YYYY'))
    const registrosReportes = ref([])
    const total = ref(0)
    const entidad = ref({
      grupo: null,
      nombre: null,
      descripcion: null,
      codigo: null,
      estado: 'ACTIVO'
    })

    const resetForm = () => {
      entidad.value = {
        grupo: null,
        nombre: null,
        descripcion: null,
        codigo: null,
        estado: 'ACTIVO'
      }
    }

    watch(filtroReporte, async (value) => {
      await obtenerReporte()
    })

    const openModal = async (open, id) => {
      resetForm()
      if (id) {
        entidad.value = await _http.get(`/${url.value}/${id}`)
      }
      open()
    }

    const closeModal = (close) => {
      resetForm()
      close()
    }

    const guardar = async (update, close) => {
      if (entidad.value.id) {
        await _http.put(`/${url.value}/${entidad.value.id}`, entidad.value)
      } else {
        await _http.post(`/${url.value}`, entidad.value)
      }
      await update()
      closeModal(close)
    }

    function nombreCompleto (paciente) {
      return `${paciente.nombre} ${paciente.apellidos}`
    }

    function openModalCitas (elegido) {
      entidad.value = elegido
      dialogCita.value = true
    }

    function closeModalCitas () {
      dialogCita.value = false
      resetForm()
    }

    function openModalTratamientos (elegido) {
      entidad.value = elegido
      dialogTratamiento.value = true
    }

    function closeModalTratamientos () {
      dialogTratamiento.value = false
      resetForm()
    }

    function verPaciente (paciente) {
      _router.push({ name: 'paciente', params: { id: paciente.id } })
    }

    function enviarMensaje (row) {
      Quasar.dialog({
        title: 'Enviar Mensaje',
        message: 'Escriba el mensaje que desea enviar al paciente',
        prompt: {
          model: dialogMensaje,
          type: 'text' // optional
        },
        cancel: true,
        persistent: true
      }).onOk(data => {
        window.open(`https://api.whatsapp.com/send/?phone=+591${row.telefono}&text=${data}`, '_blank')
        dialogMensaje.value = null
      })
    }

    async function openModalReporte () {
      dialogReportes.value = true
      await obtenerReporte()
    }

    async function closeModalReporte () {
      dialogReportes.value = false
    }

    async function obtenerReporte () {
      registrosReportes.value = await _http.get(`clinica/paciente/reporte/pacientes?fecha=${filtroReporte.value}`)
      total.value = 0
      for (const registro of registrosReportes.value.pacientesPorDia) {
        total.value += registro.ingreso
      }
    }

    return {
      total,
      registrosReportes,
      obtenerReporte,
      filtroReporte,
      openModalReporte,
      closeModalReporte,
      dialogReportes,
      enviarMensaje,
      verPaciente,
      dialogCita,
      entidad,
      filters,
      columns,
      url,
      dialogTratamiento,
      closeModalTratamientos,
      openModalTratamientos,
      openModalCitas,
      closeModalCitas,
      nombreCompleto,
      closeModal,
      openModal,
      guardar
    }
  }
}
</script>
