<template>

  <q-layout
    view="lhh LpR lff"
    container
    style="height: 85vh"
    class="bg-grey-3"
  >
    <q-header class="bg-priumary">
      <q-toolbar>
        <q-toolbar-title>Datos del paciente: {{ paciente.nombre }} {{ paciente.apellidos }}</q-toolbar-title>
      </q-toolbar>
    </q-header>
    <q-page-container>
      <q-page class="q-pa-sm q-gutter-md">
        <q-card>
          <q-card-section class="no-padding">
            <q-tabs
              v-model="tab"
              class="bg-primary text-white"
              active-class="bg-white text-primary"
            >
              <q-tab
                name="datosPersonales"
                icon="people"
                label="Datos personales"
              />
              <q-tab
                name="historial"
                icon="timeline"
                label="Historial clinico"
              />
              <q-tab
                name="archivos"
                icon="attach_file"
                label="Archivos"
              />
            </q-tabs>

          </q-card-section>
          <q-card-section>
            <DatosPersonales
              v-if="tab === 'datosPersonales'"
              :paciente="paciente"
            />
            <Tratamientos
              v-if="tab === 'historial'"
              :paciente="paciente"
            />
            <Archivos
              v-if="tab === 'archivos'"
              :paciente="paciente"
            />
          </q-card-section>

        </q-card>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import { onMounted, inject, ref } from 'vue'
import { useRoute } from 'vue-router'
import Tratamientos from 'components/paciente/Tratamientos'
import DatosPersonales from 'components/paciente/DatosPersonales'
import Archivos from 'components/paciente/Archivos'

export default {
  components: { Tratamientos, DatosPersonales, Archivos },
  name: 'Dashboard',
  setup () {
    const drawerLeft = ref(true)
    const _route = useRoute()
    const _http = inject('http')
    const paciente = ref({})
    const tab = ref('datosPersonales')

    onMounted(async () => {
      paciente.value = await getInfoPaciente()
    })

    async function getInfoPaciente () {
      const respuesta = await _http.get(`clinica/paciente/${_route.params.id}`)
      return respuesta
    }

    return {
      tab,
      paciente,
      getInfoPaciente,
      drawerLeft
    }
  }
}
</script>
