<template>

  <q-page class="flex flex-center background">
    <div class="row q-col-gutter-sm justify-center">
      <div class="col-xs-2 text-center">
        <p class="text-h4 text-bold">
          <q-img src="../assets/logo.png" />
        </p>
      </div>
      <div class="col-xs-12 flex flex-center">
        <q-card style="width: 900px; max-width: 95vw">
          <q-card-section>
            <q-form
              ref="usuario"
              @submit="guardar"
              class="row q-col-gutter-xs"
            >
              <div class="col-xs-12 text-center">
                <span class="text-bold text-primary text-body1">Nueva cuenta</span>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="row q-col-gutter-xs">
                  <UploadImage
                    class="col-xs-12"
                    label="Subir foto de perfil"
                    v-model:foto="valoresModel.foto"
                    v-model:url="urlFoto"
                    :rules="valoresRules.foto"
                  />
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="row q-col-gutter-sm">
                  <q-input
                    filled
                    label="Nombres"
                    class="col-xs-12 col-md-6"
                    v-model="valoresModel.nombres"
                    :rules="valoresRules.nombres"
                  />
                  <q-input
                    filled
                    label="Primer apellido"
                    class="col-xs-12 col-md-6"
                    v-model="valoresModel.primerApellido"
                    :rules="valoresRules.primerApellido"
                  />
                  <q-input
                    class="col-xs-12 col-md-6"
                    filled
                    label="Segundo apellido"
                    v-model="valoresModel.segundoApellido"
                    :rules="valoresRules.segundoApellido"
                  />
                  <q-input
                    filled
                    v-model="valoresModel.fechaNacimiento"
                    label="Fecha de nacimiento"
                    class="col-xs-12 col-md-6"
                    mask="##-##-####"
                    fill-mask
                    :rules="valoresRules.fechaNacimiento"
                  >
                    <template v-slot:append>
                      <q-icon
                        name="event"
                        class="cursor-pointer"
                      >
                        <q-popup-proxy
                          ref="qDateProxy"
                          cover
                          transition-show="scale"
                          transition-hide="scale"
                        >
                          <q-date
                            default-view="Years"
                            v-model="valoresModel.fechaNacimiento"
                            mask="DD-MM-YYYY"
                          >
                            <div class="row items-center justify-end">
                              <q-btn
                                v-close-popup
                                label="Close"
                                color="primary"
                                flat
                              />
                            </div>
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                  <q-input
                    filled
                    class="col-xs-12 col-md-6"
                    label="Telefono"
                    v-model="valoresModel.telefono"
                    :rules="valoresRules.telefono"
                  />
                  <q-input
                    filled
                    class="col-xs-12 col-md-6"
                    label="Celular"
                    v-model="valoresModel.celular"
                    :rules="valoresRules.celular"
                  />
                  <q-input
                    filled
                    class="col-xs-12"
                    label="Direccion"
                    v-model="valoresModel.direccion"
                    :rules="valoresRules.direccion"
                  ></q-input>

                  <q-select
                    v-model="valoresModel.especialidades"
                    class="col-xs-12"
                    filled
                    label="Especialidades"
                    :options="especialidades"
                    option-label="nombre"
                    option-value="id"
                    use-chips
                    multiple
                    emit-value
                    map-options
                    :rules="valoresRules.especialidades"
                  />
                  <UploadPdf
                    label="Subir CV en pdf"
                    :rules="valoresRules.curriculum"
                    v-model:pdf="valoresModel.curriculum"
                    v-model:url="urlPdf"
                  />
                </div>
              </div>
              <div class="col-xs-12 text-right q-gutter-sm">
                <q-btn
                  icon="close"
                  label="Cancelar"
                  @click="$router.push('/')"
                />
                <q-btn
                  icon="check"
                  color="primary"
                  label="Registrarse"
                  type="submit"
                />
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import { ref, inject, onMounted } from 'vue'
import validaciones from '../common/validations'
import UploadImage from 'components/common/UploadImage'
import UploadPdf from 'components/common/UploadPdf'

import axios from 'axios'

const rulesLogin = {
  usuario: [validaciones.requerido],
  contrasena: [validaciones.requerido, validaciones.contrasena]
}

const valoresRules = {
  nombres: [validaciones.requerido],
  primerApellido: [validaciones.requerido],
  segundoApellido: [validaciones.requerido],
  fechaNacimiento: [validaciones.requerido],
  especialidades: [validaciones.requerido],
  direccion: [validaciones.requerido],
  curriculum: [validaciones.requerido],
  celular: [validaciones.requerido],
  foto: [validaciones.requerido]

}

export default {
  components: { UploadImage, UploadPdf },
  setup () {
    const isPwd = ref(true)
    const _auth = inject('auth')
    const especialidades = ref([])
    const dialogCurriculum = ref(false)
    const urlPdf = ref('')
    const urlFoto = ref('')

    onMounted(async () => {
      especialidades.value = await getEspecialidades()
    })

    async function getEspecialidades () {
      const init = {
        method: 'GET',
        url: `${process.env.BACKEND_URL}/parametros?grupo=ESPECIALIDAD`
      }
      const { data } = await axios(init)
      const { rows } = data.datos
      console.log('====================_MENSAJE_A_MOSTRARSE_====================')
      console.log(rows)
      console.log('====================_MENSAJE_A_MOSTRARSE_====================')
      return rows
    }

    const valoresModel = ref({
      especialidades: [],
      nombres: '',
      primerApellido: '',
      segundoApellido: '',
      fechaNacimiento: '',
      telefono: '',
      celular: '',
      direccion: '',
      curriculum: null,
      foto: null,
      estado: 'INACTIVO'
    })

    const login = async () => {
      await _auth.login({
        usuario: valoresModel.value.usuario,
        contrasena: valoresModel.value.contrasena
      })
    }

    const loginCiudadania = async () => {
      await _auth.loginCiudadania()
    }
    function onSelectFile (file) {
      if (file) {
        const reader = new FileReader()
        reader.onload = e => {
          urlFoto.value = e.target.result
        }
        reader.readAsDataURL(file)
      }
    }

    function convertFormData (value) {
      const formData = new FormData()
      for (const key in value) {
        if (Array.isArray(value[key])) {
          for (const newValue of value[key]) {
            formData.append(key, newValue)
          }
        } else {
          formData.append(key, value[key])
        }
      }
      return formData
    }

    async function guardar () {
      const formateado = convertFormData(valoresModel.value)
      const init = {
        method: 'POST',
        url: `${process.env.BACKEND_URL}/auth/registro`,
        headers: { 'Content-Type': 'multipart/form-data' },
        data: formateado
      }

      await axios(init)
      console.log('====================_MENSAJE_A_MOSTRARSE_====================')
      console.log(formateado)
      console.log('====================_MENSAJE_A_MOSTRARSE_====================')
    }

    return {
      urlFoto,
      guardar,
      urlPdf,
      dialogCurriculum,
      especialidades,
      onSelectFile,
      login,
      loginCiudadania,
      isPwd,
      valoresModel,
      valoresRules,
      rulesLogin
    }
  }
}
</script>
<style lang="scss">
.background {
  background: url("../assets/background.png");
  // background-size: cover;
}
</style>
