<template>
  <q-page>
    <Titulo
      titulo="Tratamientos"
      icono="medical_information"
    ></Titulo>
    <q-card
      class="q-mx-md"
      style="min-height: 300px;"
    >
      <q-card-section>
        <q-btn
          icon="add"
          color="positive"
          label="Agregar tratamiento"
        />
      </q-card-section>
      <q-card-section>
        <q-expansion-item
          v-for="(tratamiento, index) of tratamientos"
          :key="index"
          switch-toggle-side
          expand-separator
          icon="vaccines"
          :label="tratamiento.nombre"
          header-class="bg-primary text-bold text-white"
        >
          <q-card>
            <q-card-section>
              <q-btn
                icon="add"
                color="positive"
                label="Agregar cita"
              />
            </q-card-section>
            <q-card-section>
              Citas
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
import { inject, onMounted, ref } from 'vue'
import { useRoute } from 'vue-router'
export default {
  setup () {
    const _route = useRoute()
    const _http = inject('http')
    const tratamientos = ref([])

    onMounted(async () => {
      const { rows } = await _http.get(`clinica/paciente/${_route.params.id}/tratamientos`)
      tratamientos.value = rows
    })

    return {
      tratamientos
    }
  }
}
</script>
