<template>
  <q-dialog v-model="dialogCita">
    <q-card style="width: 700px; max-width: 90vw;">
      <q-toolbar class="q-pa-md text-primary">
        <q-icon
          name="pending_actions"
          size="md"
        />
        <q-toolbar-title>
          Tratamientos pendientes
        </q-toolbar-title>
        <q-space />
        <q-btn
          flat
          round
          icon="close"
          @click="closeModalCitas"
        />
      </q-toolbar>
      <q-card-section>
        <q-list>
          <q-item
            v-for="(tratamiento, index) of tratamientosPendientes"
            :key="index"
          >
            <q-item-section avatar>
              <q-avatar
                color="primary"
                text-color="white"
              >{{ tratamiento.paciente?.nombre?.toUpperCase().charAt(0) }}</q-avatar>
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ tratamiento.paciente.nombre }} {{ tratamiento.paciente.apellidos }}</q-item-label>
              <q-item-label
                caption
                lines="2"
              >Tratamiento: {{ tratamiento.nombre }}</q-item-label>
            </q-item-section>

            <q-item-section
              side
              top
            >
              <q-btn
                flat
                round
                color="accent"
                icon="mail"
                @click="enviarMensaje(tratamiento.paciente)"
              >
                <q-tooltip class="bg-accent text-body2">
                  Enviar mensaje al paciente
                </q-tooltip>
              </q-btn>
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>
      <q-card-actions align="center">
        <q-btn
          @click="closeModalCitas"
          color="primary"
          icon="close"
          label="ACEPTAR"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>

  <q-dialog v-model="dialogCurriculum">
    <q-card style="width: 900px; max-width: 90vw;">
      <q-toolbar class="q-pa-md">
        <q-icon
          name="picture_as_pdf"
          size="md"
        />
        <q-toolbar-title>
          Curriculum
        </q-toolbar-title>
        <q-space />
        <q-btn
          flat
          round
          icon="close"
          @click="dialogCurriculum = false"
        />
      </q-toolbar>
      <q-card-section class="no-padding">
        <iframe
          style="height:80vh;"
          width="100%"
          :src="urlPdf"
          frameborder="0"
        ></iframe>
      </q-card-section>
    </q-card>
  </q-dialog>
  <q-page>
    <Titulo
      titulo="Usuarios"
      icono="person"
    ></Titulo>
    <CrudTable
      :filters="filters"
      :columns="columns"
      :url="url"
      :order="'createdAt'"
    >
      <template v-slot:buttons="{ open }">
        <q-btn
          icon="add"
          color="secondary"
          @click="openModal(open)"
          label="Nuevo usuario"
        />
      </template>
      <template v-slot:form="{ close, update}">
        <q-card style="width: 900px; max-width: 90vw;">
          <q-toolbar class="q-pa-md">
            <q-icon
              name="person"
              size="md"
            />
            <q-toolbar-title>
              {{ usuario.id ? 'Editar' : 'Agregar' }} usuario
            </q-toolbar-title>
            <q-space />
            <q-btn
              flat
              round
              icon="close"
              @click="closeModal(close)"
            />
          </q-toolbar>
          <q-card-section>
            <Usuario
              v-model:valores="usuario"
              @guardar="guardar(update, close)"
              @cancelar="closeModal(close)"
            ></Usuario>
          </q-card-section>
        </q-card>
      </template>
      <template v-slot:row="{ row, open, eliminar, cambiarEstado, update }">
        <q-tr>
          <q-td class="q-gutter-sn">
            <q-btn
              flat
              round
              color="info"
              icon="pending_actions"
              @click="openModalCitas(row)"
            >
              <q-tooltip class="bg-info text-body2">
                Ver tratamientos pendientes
              </q-tooltip>
            </q-btn>
            <q-btn
              flat
              round
              icon="lock_open"
              color="info"
              @click="reestablecerContrasena(row.id, update)"
            >
              <q-tooltip class="bg-info text-body2">
                Reestablecer contraseña.
              </q-tooltip>
            </q-btn>
            <q-btn
              flat
              round
              icon="picture_as_pdf"
              color="red"
              @click="verCurriculum(row.curriculum)"
            >
              <q-tooltip class="bg-red text-body2">
                Ver curriculum
              </q-tooltip>
            </q-btn>
            <q-btn
              flat
              round
              icon="edit"
              color="primary"
              @click="openModal(open, row.id)"
            >
              <q-tooltip class="bg-primary text-body2">
                Editar usuario
              </q-tooltip>
            </q-btn>
            <q-btn
              flat
              round
              color="negative"
              icon="delete"
              @click="eliminar({ url: `${url}/${row.id}` })"
            >
              <q-tooltip class="bg-negative text-body2">
                Eliminar usuario
              </q-tooltip>
            </q-btn>
          </q-td>
          <q-td>
            <q-toggle
              v-model="row.estado"
              color="primary"
              false-value="INACTIVO"
              true-value="ACTIVO"
              @click="cambiarEstado({ registro: row, url: `${url}/${row.id}` })"
            />
          </q-td>
          <q-td>
            <q-img
              width="100px"
              height="100px"
              v-if="row.foto"
              :src="`${publicFiles}/${row.foto}`"
            />
            <q-img
              v-else
              width="100px"
              height="100px"
              src="../assets/no_image.png"
            />

          </q-td>
          <q-td>{{ row.usuario }}</q-td>
          <q-td>{{ row.numeroDocumento }}</q-td>
          <q-td>{{ row.nombres }} {{ row.primerApellido }} {{ row.segundoApellido }}</q-td>
          <q-td>{{ row.entidad?.nombre }}</q-td>
          <q-td>{{ row.cargo }}</q-td>
          <q-td>{{ row.celular }}</q-td>
          <q-td>
            <Estado :estado="row.estado" />
          </q-td>
        </q-tr>
      </template>
    </CrudTable>
  </q-page>
</template>

<script>
import { ref, inject } from 'vue'
import CrudTable from '@components/common/CrudTable'
import Usuario from 'components/Formularios/Usuario'
import { useQuasar } from 'quasar'
import { useRouter } from 'vue-router'

const filters = [
  {
    label: 'Usuario',
    field: 'usuario',
    type: 'input'
  },
  {
    label: 'Nombres',
    field: 'nombres',
    type: 'input'
  },
  {
    label: 'Primer Apellido',
    field: 'primerApellido',
    type: 'input'
  },
  {
    label: 'Descripcion',
    field: 'descripcion',
    type: 'input'
  },
  {
    label: 'Estado',
    field: 'estado',
    type: 'select',
    options: [
      {
        label: 'ACTIVO',
        value: 'ACTIVO'
      },
      {
        label: 'INACTIVO',
        value: 'INACTIVO'
      }
    ]
  }
]

const columns = [
  {
    name: 'acciones',
    label: 'Acciones',
    sortable: false
  },
  {
    name: 'activo',
    label: 'Activo',
    sortable: true
  },
  {
    name: 'foto',
    label: 'Foto',
    sortable: false
  },
  {
    name: 'nombres',
    label: 'Nombre Usuario',
    sortable: true
  },
  {
    name: 'numeroDocumento',
    label: 'Nombre Documento',
    sortable: true
  },
  {
    name: 'nombrePersona',
    label: 'Nombre Persona',
    sortable: true
  },
  {
    name: 'entidad',
    label: 'Entidad',
    sortable: false
  },
  {
    name: 'cargo',
    label: 'Cargo',
    sortable: true
  },
  {
    name: 'celular',
    label: 'Celular',
    sortable: true
  },
  {
    name: 'estado',
    label: 'Estado',
    sortable: false
  }
]

const publicFiles = process.env.BACKEND_URL

export default {
  components: { CrudTable, Usuario },
  name: 'Dashboard',
  setup () {
    const $q = useQuasar()
    const _http = inject('http')
    const url = ref('system/usuarios')
    const dialogCurriculum = ref(false)
    const urlPdf = ref('')
    const _router = useRouter()
    const dialogCita = ref(false)
    const tratamientosPendientes = ref([])
    const dialogMensaje = ref('')

    const usuario = ref({
      celular: null,
      correoElectronico: null,
      foto: null,
      curriculum: null,
      nombres: null,
      numeroDocumento: null,
      primerApellido: null,
      roles: [],
      segundoApellido: null,
      telefono: null,
      usuario: null,
      estado: 'ACTIVO'
    })

    const resetForm = () => {
      usuario.value = {
        celular: null,
        correoElectronico: null,
        foto: null,
        curriculum: null,
        nombres: null,
        numeroDocumento: null,
        primerApellido: null,
        roles: [],
        segundoApellido: null,
        telefono: null,
        usuario: null,
        estado: 'ACTIVO'
      }
    }

    const openModal = async (open, id) => {
      resetForm()
      if (id) {
        usuario.value = await _http.get(`/${url.value}/${id}`)
        usuario.value.especialidades = usuario.value.especialidades.map(x => x.id)
      }
      open()
    }

    const closeModal = (close) => {
      resetForm()
      close()
    }

    function convertFormData (value) {
      const formData = new FormData()
      for (const key in value) {
        if (value[key]) {
          if (Array.isArray(value[key])) {
            for (const newValue of value[key]) {
              formData.append(key, newValue)
            }
          } else {
            formData.append(key, value[key])
          }
        }
      }
      return formData
    }

    const guardar = async (update, close) => {
      if (usuario.value.id) {
        await _http.put(`/${url.value}/${usuario.value.id}`, convertFormData(usuario.value), true, { 'Content-Type': 'multipart/form-data' })
      } else {
        await _http.post(`/${url.value}`, convertFormData(usuario.value), true, { 'Content-Type': 'multipart/form-data' })
      }
      await update()
      closeModal(close)
    }

    const getNombreCompleto = (usuario) => {
      return `${usuario.nombres} ${usuario.primerApellido} ${usuario.segundoApellido}`
    }

    function verCurriculum (nombrePdf) {
      urlPdf.value = `${publicFiles}/${nombrePdf}`
      dialogCurriculum.value = true
    }

    async function reestablecerContrasena (id, update) {
      $q.dialog({
        title: 'Atención',
        message: '¿Esta seguro de reestablecer la contraseña de este usuario?',
        ok: {
          color: 'primary',
          label: 'Si'
        },
        cancel: {
          color: 'white',
          'text-color': 'secondary',
          label: 'No'
        },
        persistent: true
      }).onOk(async () => {
        await _http.patch(`${url.value}/reestablecer-contrasena/${id}`)
        await update()
      }).onCancel(() => {
      })
    }

    function verCalendario (id) {
      _router.push(`citas/${id}`)
    }

    async function openModalCitas (elegido) {
      usuario.value = elegido
      dialogCita.value = true
      const { rows } = await _http.get(`clinica/tratamiento?idDoctor=${elegido.id}&finalizado=false`)
      tratamientosPendientes.value = rows
    }

    function closeModalCitas () {
      dialogCita.value = false
      resetForm()
    }

    function enviarMensaje (row) {
      $q.dialog({
        title: 'Enviar Mensaje',
        message: 'Escriba el mensaje que desea enviar al paciente',
        prompt: {
          model: dialogMensaje,
          type: 'text' // optional
        },
        cancel: true,
        persistent: true
      }).onOk(data => {
        window.open(`https://api.whatsapp.com/send/?phone=+591${row.telefono}&text=${data}`, '_blank')
        dialogMensaje.value = null
      })
    }

    return {
      enviarMensaje,
      tratamientosPendientes,
      openModalCitas,
      closeModalCitas,
      dialogCita,
      verCalendario,
      reestablecerContrasena,
      dialogCurriculum,
      urlPdf,
      verCurriculum,
      publicFiles,
      usuario,
      filters,
      columns,
      url,
      closeModal,
      openModal,
      getNombreCompleto,
      guardar
    }
  }
}
</script>
