// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary : #023859;
$secondary : #323248;
$accent : #ffc4c3;

$dark : #323248;

$positive : #0bb783;
$negative : #f64e60;
$info : #2196F3;
$warning : #ffa800;

// used by dark mode
$dark : #1e1e2d;
$dark-page : #151521;
$separator-color : #e4e6ef;
$separator-dark-color : #2b2b40;
