<template>
  <div class="row q-col-gutter-sm">
    <div>
      <span class="text-bold text-primary text-body1">Foto de perfil</span>
    </div>
    <q-file
      v-if="!readOnly"
      filled
      class="col-xs-12"
      v-model="fotoModel"
      :label="label"
      accept="image/*"
      @update:model-value="onSelectFile"
      :rules="rules"
    >
      <template v-slot:prepend>
        <q-icon name="photo" />
      </template>
    </q-file>

    <div class="col-xs-12">
      <q-img
        v-if="urlModel"
        class="col-xs-12"
        style="height:257px;"
        :src="urlModel"
      />
      <q-img
        v-else
        class="col-xs-12"
        style="height:257px;"
        src="../../assets/no_image.png"
      />
    </div>
  </div>
</template>
<script>
import { useVModel } from 'src/composables/useVModel'

export default {
  props: {
    readOnly: { type: Boolean, default: false },
    label: { type: String, default: '' },
    foto: { type: File, default: null },
    url: { type: String, default: '' },
    rules: { type: Array, default: () => ([]) }
  },
  setup (props) {
    const fotoModel = useVModel(props, 'foto')
    const urlModel = useVModel(props, 'url')

    function onSelectFile (file) {
      if (file) {
        const reader = new FileReader()
        reader.onload = e => {
          urlModel.value = e.target.result
        }
        reader.readAsDataURL(file)
      }
    }

    return {
      fotoModel,
      urlModel,
      onSelectFile
    }
  }
}
</script>
