<template>
  <q-dialog v-model="dialog">
    <q-card style="width: 700px; max-width: 90vw;">
      <q-toolbar class="q-pa-md">
        <q-icon
          name="picture_as_pdf"
          size="md"
        />
        <q-toolbar-title>
          Documento adjunto
        </q-toolbar-title>
        <q-space />
        <q-btn
          flat
          round
          icon="close"
          @click="dialog = false"
        />
      </q-toolbar>
      <q-card-section class="no-padding">
        <iframe
          style="height:60vh;"
          width="100%"
          :src="urlModel"
          frameborder="0"
        ></iframe>
      </q-card-section>
    </q-card>
  </q-dialog>

  <q-file
    filled
    class="col-xs-12"
    v-model="pdfModel"
    :label="label"
    accept=".pdf"
    clearable
    :rules="rules"
  >
    <template v-slot:prepend>
      <q-icon name="picture_as_pdf" />
    </template>
    <template
      v-slot:after
      v-if="pdfModel || url"
    >
      <q-btn
        color="positive"
        round
        icon="remove_red_eye"
        @click="verDocumento"
      >
        <q-tooltip class="bg-positive text-body2">
          Ver documento
        </q-tooltip>
      </q-btn>
    </template>
  </q-file>

</template>
<script>
import { ref } from 'vue'
import { useVModel } from 'src/composables/useVModel'

export default {
  props: {
    label: { type: String, default: '' },
    pdf: { type: File, default: null },
    url: { type: String, default: '' },
    rules: { type: Array, default: () => ([]) }
  },
  setup (props) {
    const pdfModel = useVModel(props, 'pdf')
    const urlModel = useVModel(props, 'url')
    const dialog = ref(false)

    function verDocumento () {
      if (pdfModel.value) {
        urlModel.value = URL.createObjectURL(pdfModel.value)
      }

      dialog.value = true
    }

    return {
      dialog,
      pdfModel,
      urlModel,
      verDocumento
    }
  }
}
</script>
