<template>
  <CrudTable
    :filters="filters"
    :columns="columns"
    :url="url"
    :order="'createdAt'"
  >
    <template v-slot:buttons="{ open }">
      <q-btn
        icon="add"
        color="secondary"
        @click="openModal(open)"
        label="Nuevo ingreso"
      />
    </template>
    <template v-slot:form="{ close, update}">
      <q-card style="width: 1600px; max-width: 90vw;">
        <q-toolbar class="q-pa-md">
          <q-icon
            name="add"
            size="md"
          />
          <q-toolbar-title>
            {{ ingreso.id ? 'Editar' : 'Agregar' }} ingreso
          </q-toolbar-title>
          <q-space />
          <q-btn
            flat
            round
            icon="close"
            @click="closeModal(close)"
          />
        </q-toolbar>
        <q-card-section>
          <Ingreso
            v-model:valores="ingreso"
            @guardar="guardar(update, close)"
            @cancelar="closeModal(close)"
          ></Ingreso>
        </q-card-section>
      </q-card>
    </template>
    <template v-slot:row="{ row, open, eliminar }">
      <q-tr>
        <q-td>
          <q-btn
            class="q-pa-xs"
            flat
            round
            icon="edit"
            @click="openModal(open, row.id)"
          />
          <q-btn
            class="q-pa-xs"
            flat
            round
            color="negative"
            icon="delete"
            @click="eliminar({ url: `${url}/${row.id}` })"
          />
        </q-td>
        <q-td>{{ row.codigo }}</q-td>
        <q-td>{{ row.numeroFactura }}</q-td>
        <q-td>{{ row.createdAt }}</q-td>
      </q-tr>
    </template>
  </CrudTable>
</template>

<script>
import { ref, inject } from 'vue'
import CrudTable from '@components/common/CrudTable'
import Ingreso from 'components/Formularios/Ingreso'

const filters = [
  {
    label: 'Nombre',
    field: 'nombre',
    type: 'input'
  },
  {
    label: 'Grupo',
    field: 'grupo',
    type: 'input'
  },
  {
    label: 'Descripcion',
    field: 'descripcion',
    type: 'input'
  },
  {
    label: 'Estado',
    field: 'estado',
    type: 'select',
    options: [
      {
        label: 'ACTIVO',
        value: 'ACTIVO'
      },
      {
        label: 'INACTIVO',
        value: 'INACTIVO'
      }
    ]
  }
]

const columns = [
  {
    name: 'acciones',
    label: 'Acciones',
    sortable: false
  },
  {
    name: 'codigo',
    label: 'Codigo',
    sortable: true
  },
  {
    name: 'numeroFactura',
    label: 'Numero Factura',
    sortable: true
  },
  {
    name: 'createdAt',
    label: 'Fecha de registro',
    sortable: true
  }
]

export default {
  components: { CrudTable, Ingreso },
  name: 'Dashboard',
  setup () {
    const _http = inject('http')
    const url = ref('clinica/pedido')
    const ingreso = ref({ numeroFactura: null, total: 0, detalles: [] })

    const resetForm = () => {
      ingreso.value = { numeroFactura: null, total: 0, detalles: [] }
    }

    const openModal = async (open, id) => {
      resetForm()
      if (id) {
        ingreso.value = await _http.get(`/${url.value}/${id}`)
      }
      open()
    }

    const closeModal = (close) => {
      resetForm()
      close()
    }

    const guardar = async (update, close) => {
      if (ingreso.value.id) {
        await _http.put(`/${url.value}/${ingreso.value.id}`, ingreso.value)
      } else {
        await _http.post(`/${url.value}`, ingreso.value)
      }
      await update()
      closeModal(close)
    }

    return {
      ingreso,
      filters,
      columns,
      url,
      closeModal,
      openModal,
      guardar
    }
  }
}
</script>
