<template>
  <q-dialog v-model="dialogInsumoInventario">
    <q-card style="width: 900px; max-width: 90vw;">
      <q-toolbar class="q-pa-md">
        <q-icon
          name="fact_check"
          size="md"
        />
        <q-toolbar-title>
          Inventarios del nsumo
        </q-toolbar-title>
        <q-space />
        <q-btn
          flat
          round
          icon="close"
          @click="closeDialogInsumoInventario"
        />
      </q-toolbar>
      <q-card-section>
        <q-markup-table
          dense
          wrap
          flat
        >
          <thead>
            <tr>
              <th class="text-center">Inventario actual</th>
              <th class="text-center">Cantidad</th>
              <th class="text-center">Fecha de vencimiento</th>
              <th class="text-center">Fecha de registro</th>
              <th class="text-center">Pedido</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(inventario, index) of inventarios"
              :key="index"
            >
              <td class="text-center">
                <q-btn
                  icon="done_all"
                  label="Actual"
                  size="sm"
                  color="positive"
                  :disable="inventario.actual"
                  @click="marcarActual(inventario.id)"
                />
                <q-checkbox
                  v-model="inventario.actual"
                  disable
                />
              </td>
              <td class="text-center">{{ inventario.cantidad }} <span class="text-bold">{{ inventario.unidades }}</span></td>
              <td class="text-center">{{ inventario.fechaVencimiento }}</td>
              <td class="text-center">{{ inventario.createdAt }}</td>
              <td class="text-center">{{ inventario.pedido }}</td>
            </tr>
          </tbody>
        </q-markup-table>
      </q-card-section>
    </q-card>
  </q-dialog>
  <CrudTable
    :filters="filters"
    :columns="columns"
    :url="url"
    :order="'createdAt'"
  >
    <template v-slot:buttons="{ open }">
      <q-btn
        icon="add"
        color="secondary"
        @click="openModal(open)"
        label="Nuevo insumo"
      />
    </template>
    <template v-slot:form="{ close, update}">
      <q-card style="width: 500px; max-width: 90vw;">
        <q-toolbar class="q-pa-md">
          <q-icon
            name="handyman"
            size="md"
          />
          <q-toolbar-title>
            {{ entidad.id ? 'Editar' : 'Agregar' }} insumo
          </q-toolbar-title>
          <q-space />
          <q-btn
            flat
            round
            icon="close"
            @click="closeModal(close)"
          />
        </q-toolbar>
        <q-card-section>
          <Insumo
            v-model:valores="entidad"
            @guardar="guardar(update, close)"
            @cancelar="closeModal(close)"
          ></Insumo>
        </q-card-section>
      </q-card>
    </template>
    <template v-slot:row="{ row, open, eliminar, cambiarEstado }">
      <q-tr :class="(date.getDateDiff(date.formatDate(new Date(), 'YYYY-MM-DD'), row?.pedidoDetalle[0]?.fechaVencimiento.split('-').reverse().join('-'), 'days')) >= 5 ? 'bg-red-3' : ''">
        <q-td>
          <q-btn
            class="q-pa-xs"
            flat
            round
            color="info"
            icon="fact_check"
            @click="openDialogInsumoInventario(row)"
          >
            <q-tooltip class="bg-info text-body2">
              Seleccionar el inventario en para el uso.
            </q-tooltip>
          </q-btn>
          <q-btn
            class="q-pa-xs"
            flat
            round
            icon="edit"
            @click="openModal(open, row.id)"
          />
          <q-btn
            class="q-pa-xs"
            flat
            round
            color="negative"
            icon="delete"
            @click="eliminar({ url: `${url}/${row.id}` })"
          />
        </q-td>
        <q-td>
          <q-toggle
            v-model="row.estado"
            color="primary"
            false-value="INACTIVO"
            true-value="ACTIVO"
            @click="cambiarEstado({ registro: row, url: `${url}/${row.id}` })"
          />
        </q-td>
        <q-td>{{ row.nombre }}</q-td>
        <q-td>{{ row.proveedor?.nombre }}</q-td>
        <q-td>{{ row.codigo }}</q-td>
        <q-td>{{ row.marca }}</q-td>
        <q-td>{{ row.unidad?.nombre }}</q-td>
        <q-td>{{ row?.pedidoDetalle[0]?.cantidad }} <span class="text-bold">{{ row?.pedidoDetalle[0]?.unidades }}</span></q-td>
        <q-td>
          <q-toggle
            v-model="row.perecedero"
            disable
          />
        </q-td>
        <q-td>{{ row?.pedidoDetalle[0]?.fechaVencimiento }}</q-td>
        <q-td>
          <Estado :estado="row.estado" />
        </q-td>
      </q-tr>
    </template>
  </CrudTable>
</template>

<script>
import { ref, inject } from 'vue'
import CrudTable from '@components/common/CrudTable'
import Insumo from 'components/Formularios/Insumo'
import { useQuasar, date } from 'quasar'

const filters = [
  {
    label: 'Nombre',
    field: 'nombre',
    type: 'input'
  },
  {
    label: 'Grupo',
    field: 'grupo',
    type: 'input'
  },
  {
    label: 'Descripcion',
    field: 'descripcion',
    type: 'input'
  },
  {
    label: 'Estado',
    field: 'estado',
    type: 'select',
    options: [
      {
        label: 'ACTIVO',
        value: 'ACTIVO'
      },
      {
        label: 'INACTIVO',
        value: 'INACTIVO'
      }
    ]
  }
]

const columns = [
  {
    name: 'acciones',
    label: 'Acciones',
    sortable: false
  },
  {
    name: 'activo',
    label: 'Activo',
    sortable: true
  },
  {
    name: 'nombre',
    label: 'Nombre',
    sortable: true
  },
  {
    name: 'proveedor',
    label: 'Proveedor',
    sortable: true
  },
  {
    name: 'codigo',
    label: 'Codigo',
    sortable: true
  },
  {
    name: 'marca',
    label: 'Marca',
    sortable: true
  },
  {
    name: 'unidades',
    label: 'Unidades',
    sortable: true
  },
  {
    name: 'cantidad',
    label: 'Cantidad',
    sortable: false
  },
  {
    name: 'perecedero',
    label: 'Perecedero',
    sortable: true
  },
  {
    name: 'fechaVencimiento',
    label: 'Fecha de vencimiento',
    sortable: true
  },
  {
    name: 'estado',
    label: 'Estado',
    sortable: false
  }
]

export default {
  components: { CrudTable, Insumo },
  name: 'Dashboard',
  setup () {
    const quasar = useQuasar()
    const _http = inject('http')
    const url = ref('clinica/insumo')
    const dialogInsumoInventario = ref(false)
    const insumoActual = ref({})
    const fechaActual = new Date()
    const entidad = ref({
      nombre: null,
      codigo: null,
      marca: null,
      descripcion: null,
      idProveedor: null,
      perecedero: false,
      estado: 'ACTIVO'
    })
    const inventarios = ref([])

    const resetForm = () => {
      entidad.value = {
        nombre: null,
        codigo: null,
        marca: null,
        descripcion: null,
        idProveedor: null,
        perecedero: false,
        estado: 'ACTIVO'
      }
    }

    const openModal = async (open, id) => {
      resetForm()
      if (id) {
        entidad.value = await _http.get(`/${url.value}/${id}`)
      }
      open()
    }

    const closeModal = (close) => {
      resetForm()
      close()
    }

    const guardar = async (update, close) => {
      if (entidad.value.id) {
        await _http.put(`/${url.value}/${entidad.value.id}`, entidad.value)
      } else {
        await _http.post(`/${url.value}`, entidad.value)
      }
      await update()
      closeModal(close)
    }

    function closeDialogInsumoInventario () {
      dialogInsumoInventario.value = false
    }

    async function openDialogInsumoInventario (insumo) {
      insumoActual.value = insumo
      const { rows } = await _http.get(`clinica/pedido-detalle?idInsumo=${insumoActual.value.id}`)
      inventarios.value = rows
      dialogInsumoInventario.value = true
    }

    async function marcarActual (idDetalle) {
      quasar.dialog({
        title: 'Atención',
        message: '¿Esta seguro de de marcar este inventario como el actual?',
        ok: {
          color: 'primary',
          label: 'Si'
        },
        cancel: {
          color: 'white',
          'text-color': 'secondary',
          label: 'No'
        },
        persistent: true
      }).onOk(async () => {
        await _http.patch(`clinica/pedido-detalle/${idDetalle}/seleccionar`)
        const { rows } = await _http.get(`clinica/pedido-detalle?idInsumo=${insumoActual.value.id}`)
        inventarios.value = rows
        closeDialogInsumoInventario()
      })
    }

    return {
      fechaActual,
      date,
      marcarActual,
      inventarios,
      openDialogInsumoInventario,
      closeDialogInsumoInventario,
      dialogInsumoInventario,
      entidad,
      filters,
      columns,
      url,
      closeModal,
      openModal,
      guardar
    }
  }
}
</script>
